<mat-card id="menu">
    <aside>
        <button id="nuevopj" mat-raised-button color="primary" (click)="AbrirNuevoPersonaje();" class="w-100 mt-1 mb-3">Nuevo personaje</button>
        <mat-accordion>
            <!-- <mat-expansion-panel #primero>
                <mat-expansion-panel-header class="rounded-0 rounded-top">
                    <button mat-stroked-button color="accent" class="rounded-0 rounded-top">
                        <mat-icon>group_add</mat-icon>Personajes
                    </button>
                </mat-expansion-panel-header>
                <button mat-raised-button color="primary" (click)="AbrirNuevoPersonaje(); closeAcordion();">Nuevo personaje</button>
                <button mat-button color="primary" (click)="closeAcordion()">Modificar personaje</button>
                <button mat-button color="primary" (click)="closeAcordion()">Archivar personajes</button>
            </mat-expansion-panel> -->
            <mat-expansion-panel #primero>
                <mat-expansion-panel-header class="rounded-0 rounded-top">
                    <button mat-stroked-button color="accent" class="rounded-0 rounded-top">
                        <mat-icon>add_box</mat-icon>Insertar
                    </button>
                </mat-expansion-panel-header>
                <button mat-button color="primary" (click)="closeAcordion()">Raza</button>
                <button mat-button color="primary" (click)="closeAcordion()">Clase</button>
                <button mat-button color="primary" (click)="closeAcordion()">Dote</button>
                <button mat-button color="primary" (click)="closeAcordion()">Conjuro</button>
                <button mat-button color="primary" (click)="closeAcordion()">Monstruo</button>
                <button mat-button color="primary" (click)="closeAcordion()">Plantilla</button>
                <button mat-button color="primary" (click)="closeAcordion()">Otros</button>
            </mat-expansion-panel>
            <mat-expansion-panel #segundo>
                <mat-expansion-panel-header>
                    <button mat-stroked-button color="accent" class="rounded-0">
                        <mat-icon>edit_square</mat-icon>Modificar
                    </button>
                </mat-expansion-panel-header>
                <button mat-button color="primary" (click)="closeAcordion()">Raza</button>
                <button mat-button color="primary" (click)="closeAcordion()">Clase</button>
                <button mat-button color="primary" (click)="closeAcordion()">Dote</button>
                <button mat-button color="primary" (click)="closeAcordion()">Conjuro</button>
                <button mat-button color="primary" (click)="closeAcordion()">Monstruo</button>
                <button mat-button color="primary" (click)="closeAcordion()">Plantilla</button>
                <button mat-button color="primary" (click)="closeAcordion()">Otros</button>
            </mat-expansion-panel>
            <mat-expansion-panel class="rounded-0 rounded-bottom" #tercero>
                <mat-expansion-panel-header>
                    <button mat-stroked-button color="accent" class="rounded-0 rounded-bottom">
                        <mat-icon>search</mat-icon>Detalles
                    </button>
                </mat-expansion-panel-header>
                <button mat-button color="primary" (click)="AbrirListado('razas', 'detalles')">Raza</button>
                <button mat-button color="primary" (click)="closeAcordion()">Clase</button>
                <button mat-button color="primary" (click)="closeAcordion()">Dote</button>
                <button mat-button color="primary" (click)="closeAcordion()">Conjuro</button>
                <button mat-button color="primary" (click)="closeAcordion()">Monstruo</button>
                <button mat-button color="primary" (click)="closeAcordion()">Plantilla</button>
                <button mat-button color="primary" (click)="closeAcordion()">Otros</button>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle="true" #cuarto>
                <mat-expansion-panel-header>
                    <button mat-stroked-button color="accent">
                        <mat-icon>account_circle</mat-icon>{{usr}}
                    </button>
                </mat-expansion-panel-header>

                <button mat-raised-button color="accent" (click)="openSesionDialog()" *ngIf="usr == 'Invitado'; else sinRegistrar">
                    Identifícate
                </button>
                <ng-template #sinRegistrar>
                    <button mat-raised-button color="accent" (click)="logOut()">
                        Cerrar sesión
                    </button>
                </ng-template>

                
            </mat-expansion-panel>
        </mat-accordion>
    </aside>
</mat-card>