rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /private_users/{userId}/{document=**} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
