<mat-card id="menu" class="sombra-interna">
    <aside>
        <span
            class="tw-block"
            [matTooltip]="tooltipNuevoPersonaje"
            [matTooltipDisabled]="!nuevoPersonajeDeshabilitado">
            <button
                id="nuevopj"
                mat-raised-button
                color="primary"
                (click)="AbrirNuevoPersonaje();"
                [disabled]="nuevoPersonajeDeshabilitado"
                class="tw-w-full sombra tw-mt-1 tw-mb-3">
                Nuevo personaje
            </button>
        </span>
        <mat-accordion>
            <mat-expansion-panel #primero>
                <mat-expansion-panel-header class="tw-rounded-none tw-rounded-t-md">
                    <button mat-stroked-button color="accent" class="tw-rounded-none tw-rounded-t-md">
                        <mat-icon>add_box</mat-icon>Insertar
                    </button>
                </mat-expansion-panel-header>
                <span
                    [matTooltip]="canInsertarRazas() ? '' : mensajePermisosInsuficientes"
                    [matTooltipDisabled]="canInsertarRazas()">
                    <button mat-button color="primary" [disabled]="!canInsertarRazas()"
                        (click)="onInsertarRaza()">Raza</button>
                </span>
                <span
                    [matTooltip]="canGestionar('clases', 'create') ? '' : mensajePermisosInsuficientes"
                    [matTooltipDisabled]="canGestionar('clases', 'create')">
                    <button mat-button color="primary" [disabled]="!canGestionar('clases', 'create')"
                        (click)="onInsertarClase()">Clase</button>
                </span>
                <span
                    [matTooltip]="canInsertarDotes() ? '' : mensajePermisosInsuficientes"
                    [matTooltipDisabled]="canInsertarDotes()">
                    <button mat-button color="primary" [disabled]="!canInsertarDotes()"
                        (click)="onInsertarDote()">Dote</button>
                </span>
                <span
                    [matTooltip]="canInsertarConjuros() ? '' : mensajePermisosInsuficientes"
                    [matTooltipDisabled]="canInsertarConjuros()">
                    <button mat-button color="primary" [disabled]="!canInsertarConjuros()"
                        (click)="onInsertarConjuro()">Conjuro</button>
                </span>
                <span
                    [matTooltip]="canGestionar('tipos_criatura', 'create') ? '' : mensajePermisosInsuficientes"
                    [matTooltipDisabled]="canGestionar('tipos_criatura', 'create')">
                    <button mat-button color="primary" [disabled]="!canGestionar('tipos_criatura', 'create')">Monstruo</button>
                </span>
                <span
                    [matTooltip]="canGestionar('plantillas', 'create') ? '' : mensajePermisosInsuficientes"
                    [matTooltipDisabled]="canGestionar('plantillas', 'create')">
                    <button mat-button color="primary" [disabled]="!canGestionar('plantillas', 'create')">Plantilla</button>
                </span>
                <button mat-button color="primary" cdkOverlayOrigin #origenInsertar="cdkOverlayOrigin"
                    [class.menu-otros-trigger--sin-opciones]="!tieneOpcionesOtros('insertar')"
                    (mouseenter)="abrirOtros('insertar')" (mouseleave)="programarCierreOtros()"
                    (click)="toggleOtros('insertar', $event)">
                    Otros
                    <mat-icon iconPositionEnd>arrow_right</mat-icon>
                </button>
                <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="origenInsertar"
                    [cdkConnectedOverlayOpen]="otrosAbierto === 'insertar'"
                    [cdkConnectedOverlayPositions]="posicionesOtros" [cdkConnectedOverlayHasBackdrop]="true"
                    [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
                    (backdropClick)="cerrarOtros()" (detach)="cerrarOtros()" (overlayKeydown)="onOverlayKeydown($event)">
                    <div class="menu-otros-panel" (mouseenter)="cancelarCierreOtros()" (mouseleave)="programarCierreOtros()">
                        <span
                            matTooltipClass="menu-otros-tooltip"
                            matTooltipPosition="right"
                            [matTooltip]="canGestionar('armaduras', 'create') ? '' : mensajePermisosInsuficientes"
                            [matTooltipDisabled]="canGestionar('armaduras', 'create')">
                            <button mat-button color="primary" [disabled]="!canGestionar('armaduras', 'create')" (click)="cerrarOtros()">Armaduras</button>
                        </span>
                        <span
                            matTooltipClass="menu-otros-tooltip"
                            matTooltipPosition="right"
                            [matTooltip]="canGestionar('armas', 'create') ? '' : mensajePermisosInsuficientes"
                            [matTooltipDisabled]="canGestionar('armas', 'create')">
                            <button mat-button color="primary" [disabled]="!canGestionar('armas', 'create')" (click)="cerrarOtros()">Armas</button>
                        </span>
                        <span
                            matTooltipClass="menu-otros-tooltip"
                            matTooltipPosition="right"
                            [matTooltip]="canGestionar('deidades', 'create') ? '' : mensajePermisosInsuficientes"
                            [matTooltipDisabled]="canGestionar('deidades', 'create')">
                            <button mat-button color="primary" [disabled]="!canGestionar('deidades', 'create')" (click)="cerrarOtros()">Deidades</button>
                        </span>
                        <span
                            matTooltipClass="menu-otros-tooltip"
                            matTooltipPosition="right"
                            [matTooltip]="canGestionar('clases', 'create') ? '' : mensajePermisosInsuficientes"
                            [matTooltipDisabled]="canGestionar('clases', 'create')">
                            <button mat-button color="primary" [disabled]="!canGestionar('clases', 'create')" (click)="onInsertarEspecial()">Especiales</button>
                        </span>
                        <span
                            matTooltipClass="menu-otros-tooltip"
                            matTooltipPosition="right"
                            [matTooltip]="canGestionarIdiomas() ? '' : mensajePermisosInsuficientes"
                            [matTooltipDisabled]="canGestionarIdiomas()">
                            <button mat-button color="primary" [disabled]="!canGestionarIdiomas()" (click)="onInsertarIdioma()">Idiomas</button>
                        </span>
                        <span
                            matTooltipClass="menu-otros-tooltip"
                            matTooltipPosition="right"
                            [matTooltip]="canInsertarRaciales() ? '' : mensajePermisosInsuficientes"
                            [matTooltipDisabled]="canInsertarRaciales()">
                            <button mat-button color="primary" [disabled]="!canInsertarRaciales()" (click)="onInsertarRacial()">Raciales</button>
                        </span>
                        <span
                            matTooltipClass="menu-otros-tooltip"
                            matTooltipPosition="right"
                            [matTooltip]="canGestionar('rasgos', 'create') ? '' : mensajePermisosInsuficientes"
                            [matTooltipDisabled]="canGestionar('rasgos', 'create')">
                            <button mat-button color="primary" [disabled]="!canGestionar('rasgos', 'create')" (click)="cerrarOtros()">Rasgos</button>
                        </span>
                        <span
                            matTooltipClass="menu-otros-tooltip"
                            matTooltipPosition="right"
                            [matTooltip]="canGestionar('subtipos', 'create') ? '' : mensajePermisosInsuficientes"
                            [matTooltipDisabled]="canGestionar('subtipos', 'create')">
                            <button mat-button color="primary" [disabled]="!canGestionar('subtipos', 'create')" (click)="cerrarOtros()">Subtipos de criatura</button>
                        </span>
                        <span
                            matTooltipClass="menu-otros-tooltip"
                            matTooltipPosition="right"
                            [matTooltip]="canGestionar('tipos_criatura', 'create') ? '' : mensajePermisosInsuficientes"
                            [matTooltipDisabled]="canGestionar('tipos_criatura', 'create')">
                            <button mat-button color="primary" [disabled]="!canGestionar('tipos_criatura', 'create')" (click)="cerrarOtros()">Tipos de criatura</button>
                        </span>
                        <span
                            matTooltipClass="menu-otros-tooltip"
                            matTooltipPosition="right"
                            [matTooltip]="canGestionar('ventajas', 'create') ? '' : mensajePermisosInsuficientes"
                            [matTooltipDisabled]="canGestionar('ventajas', 'create')">
                            <button mat-button color="primary" [disabled]="!canGestionar('ventajas', 'create')" (click)="cerrarOtros()">Ventajas y desventajas</button>
                        </span>
                    </div>
                </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel #segundo>
                <mat-expansion-panel-header>
                    <button mat-stroked-button color="accent" class="tw-rounded-none">
                        <mat-icon>edit_square</mat-icon>Modificar
                    </button>
                </mat-expansion-panel-header>
                <span
                    [matTooltip]="canGestionar('razas', 'update') ? '' : mensajePermisosInsuficientes"
                    [matTooltipDisabled]="canGestionar('razas', 'update')">
                    <button mat-button color="primary" [disabled]="!canGestionar('razas', 'update')">Raza</button>
                </span>
                <span
                    [matTooltip]="canGestionar('clases', 'update') ? '' : mensajePermisosInsuficientes"
                    [matTooltipDisabled]="canGestionar('clases', 'update')">
                    <button mat-button color="primary" [disabled]="!canGestionar('clases', 'update')"
                        (click)="onModificarClase()">Clase</button>
                </span>
                <span
                    [matTooltip]="canGestionar('dotes', 'update') ? '' : mensajePermisosInsuficientes"
                    [matTooltipDisabled]="canGestionar('dotes', 'update')">
                    <button mat-button color="primary" [disabled]="!canGestionar('dotes', 'update')">Dote</button>
                </span>
                <span
                    [matTooltip]="canGestionar('conjuros', 'update') ? '' : mensajePermisosInsuficientes"
                    [matTooltipDisabled]="canGestionar('conjuros', 'update')">
                    <button mat-button color="primary" [disabled]="!canGestionar('conjuros', 'update')">Conjuro</button>
                </span>
                <span
                    [matTooltip]="canGestionar('tipos_criatura', 'update') ? '' : mensajePermisosInsuficientes"
                    [matTooltipDisabled]="canGestionar('tipos_criatura', 'update')">
                    <button mat-button color="primary" [disabled]="!canGestionar('tipos_criatura', 'update')">Monstruo</button>
                </span>
                <span
                    [matTooltip]="canGestionar('plantillas', 'update') ? '' : mensajePermisosInsuficientes"
                    [matTooltipDisabled]="canGestionar('plantillas', 'update')">
                    <button mat-button color="primary" [disabled]="!canGestionar('plantillas', 'update')">Plantilla</button>
                </span>
                <button mat-button color="primary" cdkOverlayOrigin #origenModificar="cdkOverlayOrigin"
                    [class.menu-otros-trigger--sin-opciones]="!tieneOpcionesOtros('modificar')"
                    (mouseenter)="abrirOtros('modificar')" (mouseleave)="programarCierreOtros()"
                    (click)="toggleOtros('modificar', $event)">
                    Otros
                    <mat-icon iconPositionEnd>arrow_right</mat-icon>
                </button>
                <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="origenModificar"
                    [cdkConnectedOverlayOpen]="otrosAbierto === 'modificar'"
                    [cdkConnectedOverlayPositions]="posicionesOtros" [cdkConnectedOverlayHasBackdrop]="true"
                    [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
                    (backdropClick)="cerrarOtros()" (detach)="cerrarOtros()" (overlayKeydown)="onOverlayKeydown($event)">
                    <div class="menu-otros-panel" (mouseenter)="cancelarCierreOtros()" (mouseleave)="programarCierreOtros()">
                        <span
                            matTooltipClass="menu-otros-tooltip"
                            matTooltipPosition="right"
                            [matTooltip]="canGestionar('armaduras', 'update') ? '' : mensajePermisosInsuficientes"
                            [matTooltipDisabled]="canGestionar('armaduras', 'update')">
                            <button mat-button color="primary" [disabled]="!canGestionar('armaduras', 'update')" (click)="cerrarOtros()">Armaduras</button>
                        </span>
                        <span
                            matTooltipClass="menu-otros-tooltip"
                            matTooltipPosition="right"
                            [matTooltip]="canGestionar('armas', 'update') ? '' : mensajePermisosInsuficientes"
                            [matTooltipDisabled]="canGestionar('armas', 'update')">
                            <button mat-button color="primary" [disabled]="!canGestionar('armas', 'update')" (click)="cerrarOtros()">Armas</button>
                        </span>
                        <span
                            matTooltipClass="menu-otros-tooltip"
                            matTooltipPosition="right"
                            [matTooltip]="canGestionar('deidades', 'update') ? '' : mensajePermisosInsuficientes"
                            [matTooltipDisabled]="canGestionar('deidades', 'update')">
                            <button mat-button color="primary" [disabled]="!canGestionar('deidades', 'update')" (click)="cerrarOtros()">Deidades</button>
                        </span>
                        <span
                            matTooltipClass="menu-otros-tooltip"
                            matTooltipPosition="right"
                            [matTooltip]="(canGestionar('especiales', 'update') || canGestionar('clases', 'update')) ? '' : mensajePermisosInsuficientes"
                            [matTooltipDisabled]="canGestionar('especiales', 'update') || canGestionar('clases', 'update')">
                            <button mat-button color="primary" [disabled]="!canGestionar('especiales', 'update') && !canGestionar('clases', 'update')" (click)="onModificarEspecial()">Especiales</button>
                        </span>
                        <span
                            matTooltipClass="menu-otros-tooltip"
                            matTooltipPosition="right"
                            [matTooltip]="canGestionarIdiomas() ? '' : mensajePermisosInsuficientes"
                            [matTooltipDisabled]="canGestionarIdiomas()">
                            <button mat-button color="primary" [disabled]="!canGestionarIdiomas()" (click)="onModificarIdioma()">Idiomas</button>
                        </span>
                        <span
                            matTooltipClass="menu-otros-tooltip"
                            matTooltipPosition="right"
                            [matTooltip]="canGestionar('raciales', 'update') ? '' : mensajePermisosInsuficientes"
                            [matTooltipDisabled]="canGestionar('raciales', 'update')">
                            <button mat-button color="primary" [disabled]="!canGestionar('raciales', 'update')" (click)="onModificarRacial()">Raciales</button>
                        </span>
                        <span
                            matTooltipClass="menu-otros-tooltip"
                            matTooltipPosition="right"
                            [matTooltip]="canGestionar('rasgos', 'update') ? '' : mensajePermisosInsuficientes"
                            [matTooltipDisabled]="canGestionar('rasgos', 'update')">
                            <button mat-button color="primary" [disabled]="!canGestionar('rasgos', 'update')" (click)="cerrarOtros()">Rasgos raciales</button>
                        </span>
                        <span
                            matTooltipClass="menu-otros-tooltip"
                            matTooltipPosition="right"
                            [matTooltip]="canGestionar('subtipos', 'update') ? '' : mensajePermisosInsuficientes"
                            [matTooltipDisabled]="canGestionar('subtipos', 'update')">
                            <button mat-button color="primary" [disabled]="!canGestionar('subtipos', 'update')" (click)="cerrarOtros()">Subtipos de criatura</button>
                        </span>
                        <span
                            matTooltipClass="menu-otros-tooltip"
                            matTooltipPosition="right"
                            [matTooltip]="canGestionar('tipos_criatura', 'update') ? '' : mensajePermisosInsuficientes"
                            [matTooltipDisabled]="canGestionar('tipos_criatura', 'update')">
                            <button mat-button color="primary" [disabled]="!canGestionar('tipos_criatura', 'update')" (click)="cerrarOtros()">Tipos de criatura</button>
                        </span>
                        <span
                            matTooltipClass="menu-otros-tooltip"
                            matTooltipPosition="right"
                            [matTooltip]="canGestionar('ventajas', 'update') ? '' : mensajePermisosInsuficientes"
                            [matTooltipDisabled]="canGestionar('ventajas', 'update')">
                            <button mat-button color="primary" [disabled]="!canGestionar('ventajas', 'update')" (click)="cerrarOtros()">Ventajas y desventajas</button>
                        </span>
                    </div>
                </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel class="tw-rounded-none tw-rounded-b-md" #tercero>
                <mat-expansion-panel-header>
                    <button mat-stroked-button color="accent" class="tw-rounded-none tw-rounded-b-md">
                        <mat-icon>search</mat-icon>Detalles
                    </button>
                </mat-expansion-panel-header>
                <button mat-button color="primary" (click)="AbrirListado('razas', 'detalles'); closeAcordion();">Raza</button>
                <button mat-button color="primary" (click)="AbrirListado('clases', 'detalles'); closeAcordion();">Clase</button>
                <button mat-button color="primary" (click)="AbrirListado('dotes', 'detalles'); closeAcordion();">Dote</button>
                <button mat-button color="primary" (click)="AbrirListado('conjuros', 'detalles'); closeAcordion();">Conjuro</button>
                <button mat-button color="primary" (click)="AbrirListado('monstruos', 'detalles'); closeAcordion();">Monstruo</button>
                <button mat-button color="primary" (click)="AbrirListado('plantillas', 'detalles'); closeAcordion();">Plantilla</button>
                <button mat-button color="primary" cdkOverlayOrigin #origenDetalles="cdkOverlayOrigin"
                    (mouseenter)="abrirOtros('detalles')" (mouseleave)="programarCierreOtros()"
                    (click)="toggleOtros('detalles', $event)">
                    Otros
                    <mat-icon iconPositionEnd>arrow_right</mat-icon>
                </button>
                <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="origenDetalles"
                    [cdkConnectedOverlayOpen]="otrosAbierto === 'detalles'"
                    [cdkConnectedOverlayPositions]="posicionesOtros" [cdkConnectedOverlayHasBackdrop]="true"
                    [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
                    (backdropClick)="cerrarOtros()" (detach)="cerrarOtros()" (overlayKeydown)="onOverlayKeydown($event)">
                    <div class="menu-otros-panel" (mouseenter)="cancelarCierreOtros()" (mouseleave)="programarCierreOtros()">
                        <button mat-button color="primary"
                            (click)="AbrirListado('armaduras', 'detalles'); closeAcordion(); cerrarOtros();">Armaduras</button>
                        <button mat-button color="primary"
                            (click)="AbrirListado('armas', 'detalles'); closeAcordion(); cerrarOtros();">Armas</button>
                        <button mat-button color="primary"
                            (click)="AbrirListado('deidades', 'detalles'); closeAcordion(); cerrarOtros();">Deidades</button>
                        <button mat-button color="primary"
                            (click)="AbrirListado('especiales', 'detalles'); closeAcordion(); cerrarOtros();">Especiales</button>
                        <button mat-button color="primary"
                            (click)="AbrirListado('idiomas', 'detalles'); closeAcordion(); cerrarOtros();">Idiomas</button>
                        <button mat-button color="primary"
                            (click)="AbrirListado('raciales', 'detalles'); closeAcordion(); cerrarOtros();">Raciales</button>
                        <button mat-button color="primary"
                            (click)="AbrirListado('rasgos', 'detalles'); closeAcordion(); cerrarOtros();">Rasgos</button>
                        <button mat-button color="primary"
                            (click)="AbrirListado('subtipos', 'detalles'); closeAcordion(); cerrarOtros();">Subtipos de criatura</button>
                        <button mat-button color="primary"
                            (click)="AbrirListado('tipos de criatura', 'detalles'); closeAcordion(); cerrarOtros();">Tipos de criatura</button>
                        <button mat-button color="primary"
                            (click)="AbrirListado('ventajas', 'detalles'); closeAcordion(); cerrarOtros();">Ventajas y desventajas</button>
                    </div>
                </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle="true" #cuarto>
                <mat-expansion-panel-header>
                    <button mat-stroked-button color="accent">
                        <mat-icon>account_circle</mat-icon>{{usr}}
                    </button>
                </mat-expansion-panel-header>

                <div class="user-panel-card" *ngIf="usr == 'Invitado'; else sinRegistrar">
                    <button mat-button class="user-panel-link user-panel-link--login" (click)="openSesionDialog()">
                        <span class="user-panel-link__lead">
                            <mat-icon>login</mat-icon>
                            <span>Identifícate</span>
                        </span>
                    </button>
                </div>
                <ng-template #sinRegistrar>
                    <div class="user-panel-card">
                        <div class="user-panel-links">
                            <button mat-button class="user-panel-link user-panel-link--primary" (click)="abrirMiPerfil()">
                                <span class="user-panel-link__lead">
                                    <mat-icon>account_circle</mat-icon>
                                    <span>Mi perfil</span>
                                </span>
                            </button>
                            <button mat-button class="user-panel-link" (click)="abrirSocial()">
                                <span class="user-panel-link__lead">
                                    <mat-icon>hub</mat-icon>
                                    <span>Social</span>
                                </span>
                            </button>
                            <button mat-button class="user-panel-link user-panel-link--admin" *ngIf="esAdmin" (click)="abrirAdminPanel()">
                                <span class="user-panel-link__lead">
                                    <mat-icon>admin_panel_settings</mat-icon>
                                    <span>Admin panel</span>
                                </span>
                            </button>
                        </div>
                        <div class="user-panel-footer">
                            <button mat-button class="user-panel-link user-panel-link--danger" (click)="logOut()">
                                <span class="user-panel-link__lead">
                                    <mat-icon>logout</mat-icon>
                                    <span>Cerrar sesión</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
    </aside>
</mat-card>
