<mat-card id="menu" class="sombra-interna">
    <aside>
        <button id="nuevopj" mat-raised-button color="primary" (click)="AbrirNuevoPersonaje();" class="w-100 sombra mt-1 mb-3">Nuevo personaje</button>
        <mat-accordion>
            <mat-expansion-panel #primero>
                <mat-expansion-panel-header class="rounded-0 rounded-top">
                    <button mat-stroked-button color="accent" class="rounded-0 rounded-top">
                        <mat-icon>add_box</mat-icon>Insertar
                    </button>
                </mat-expansion-panel-header>
                <button mat-button color="primary">Raza</button>
                <button mat-button color="primary">Clase</button>
                <button mat-button color="primary">Dote</button>
                <button mat-button color="primary">Conjuro</button>
                <button mat-button color="primary">Monstruo</button>
                <button mat-button color="primary">Plantilla</button>
                <button mat-button color="primary" cdkOverlayOrigin #origenInsertar="cdkOverlayOrigin"
                    (mouseenter)="abrirOtros('insertar')" (mouseleave)="programarCierreOtros()"
                    (click)="toggleOtros('insertar', $event)">
                    Otros
                    <mat-icon iconPositionEnd>arrow_right</mat-icon>
                </button>
                <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="origenInsertar"
                    [cdkConnectedOverlayOpen]="otrosAbierto === 'insertar'"
                    [cdkConnectedOverlayPositions]="posicionesOtros" [cdkConnectedOverlayHasBackdrop]="true"
                    [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
                    (backdropClick)="cerrarOtros()" (detach)="cerrarOtros()" (overlayKeydown)="onOverlayKeydown($event)">
                    <div class="menu-otros-panel" (mouseenter)="cancelarCierreOtros()" (mouseleave)="programarCierreOtros()">
                        <button mat-button color="primary" (click)="cerrarOtros()">Tipos de criatura</button>
                        <button mat-button color="primary" (click)="cerrarOtros()">Subtipos de criatura</button>
                        <button mat-button color="primary" (click)="cerrarOtros()">Rasgos</button>
                        <button mat-button color="primary" (click)="cerrarOtros()">Especiales</button>
                        <button mat-button color="primary" (click)="cerrarOtros()">Raciales</button>
                    </div>
                </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel #segundo>
                <mat-expansion-panel-header>
                    <button mat-stroked-button color="accent" class="rounded-0">
                        <mat-icon>edit_square</mat-icon>Modificar
                    </button>
                </mat-expansion-panel-header>
                <button mat-button color="primary">Raza</button>
                <button mat-button color="primary">Clase</button>
                <button mat-button color="primary">Dote</button>
                <button mat-button color="primary">Conjuro</button>
                <button mat-button color="primary">Monstruo</button>
                <button mat-button color="primary">Plantilla</button>
                <button mat-button color="primary" cdkOverlayOrigin #origenModificar="cdkOverlayOrigin"
                    (mouseenter)="abrirOtros('modificar')" (mouseleave)="programarCierreOtros()"
                    (click)="toggleOtros('modificar', $event)">
                    Otros
                    <mat-icon iconPositionEnd>arrow_right</mat-icon>
                </button>
                <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="origenModificar"
                    [cdkConnectedOverlayOpen]="otrosAbierto === 'modificar'"
                    [cdkConnectedOverlayPositions]="posicionesOtros" [cdkConnectedOverlayHasBackdrop]="true"
                    [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
                    (backdropClick)="cerrarOtros()" (detach)="cerrarOtros()" (overlayKeydown)="onOverlayKeydown($event)">
                    <div class="menu-otros-panel" (mouseenter)="cancelarCierreOtros()" (mouseleave)="programarCierreOtros()">
                        <button mat-button color="primary" (click)="cerrarOtros()">Tipos de criatura</button>
                        <button mat-button color="primary" (click)="cerrarOtros()">Subtipos de criatura</button>
                        <button mat-button color="primary" (click)="cerrarOtros()">Rasgos raciales</button>
                        <button mat-button color="primary" (click)="cerrarOtros()">Especiales</button>
                        <button mat-button color="primary" (click)="cerrarOtros()">Raciales</button>
                    </div>
                </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel class="rounded-0 rounded-bottom" #tercero>
                <mat-expansion-panel-header>
                    <button mat-stroked-button color="accent" class="rounded-0 rounded-bottom">
                        <mat-icon>search</mat-icon>Detalles
                    </button>
                </mat-expansion-panel-header>
                <button mat-button color="primary" (click)="AbrirListado('razas', 'detalles'); closeAcordion();">Raza</button>
                <button mat-button color="primary" (click)="AbrirListado('clases', 'detalles'); closeAcordion();">Clase</button>
                <button mat-button color="primary" (click)="AbrirListado('dotes', 'detalles'); closeAcordion();">Dote</button>
                <button mat-button color="primary" (click)="AbrirListado('conjuros', 'detalles'); closeAcordion();">Conjuro</button>
                <button mat-button color="primary">Monstruo</button>
                <button mat-button color="primary" (click)="AbrirListado('plantillas', 'detalles'); closeAcordion();">Plantilla</button>
                <button mat-button color="primary" cdkOverlayOrigin #origenDetalles="cdkOverlayOrigin"
                    (mouseenter)="abrirOtros('detalles')" (mouseleave)="programarCierreOtros()"
                    (click)="toggleOtros('detalles', $event)">
                    Otros
                    <mat-icon iconPositionEnd>arrow_right</mat-icon>
                </button>
                <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="origenDetalles"
                    [cdkConnectedOverlayOpen]="otrosAbierto === 'detalles'"
                    [cdkConnectedOverlayPositions]="posicionesOtros" [cdkConnectedOverlayHasBackdrop]="true"
                    [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
                    (backdropClick)="cerrarOtros()" (detach)="cerrarOtros()" (overlayKeydown)="onOverlayKeydown($event)">
                    <div class="menu-otros-panel" (mouseenter)="cancelarCierreOtros()" (mouseleave)="programarCierreOtros()">
                        <button mat-button color="primary"
                            (click)="AbrirListado('tipos de criatura', 'detalles'); closeAcordion(); cerrarOtros();">Tipos de criatura</button>
                        <button mat-button color="primary" (click)="cerrarOtros()">Subtipos de criatura</button>
                        <button mat-button color="primary"
                            (click)="AbrirListado('rasgos', 'detalles'); closeAcordion(); cerrarOtros();">Rasgos</button>
                        <button mat-button color="primary"
                            (click)="AbrirListado('especiales', 'detalles'); closeAcordion(); cerrarOtros();">Especiales</button>
                        <button mat-button color="primary"
                            (click)="AbrirListado('raciales', 'detalles'); closeAcordion(); cerrarOtros();">Raciales</button>
                    </div>
                </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle="true" #cuarto>
                <mat-expansion-panel-header>
                    <button mat-stroked-button color="accent">
                        <mat-icon>account_circle</mat-icon>{{usr}}
                    </button>
                </mat-expansion-panel-header>

                <button mat-raised-button color="accent" (click)="openSesionDialog()" *ngIf="usr == 'Invitado'; else sinRegistrar">
                    Identifícate
                </button>
                <ng-template #sinRegistrar>
                    <button mat-raised-button color="accent" (click)="logOut()">
                        Cerrar sesión
                    </button>
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
    </aside>
</mat-card>
