<mat-tab-group #TabControl mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Personajes">
        <ng-template mat-tab-label="">
            <mat-icon class="me-2">people_alt</mat-icon>
            Personajes
        </ng-template>
        <app-lista-personajes (NewDetallesTab)="abrirDetallesPersonaje($event)"></app-lista-personajes>
    </mat-tab>
    <mat-tab label="Panel de administración" *ngIf="usrPerm === 1">
        <ng-template mat-tab-label="">
            <mat-icon class="me-2">admin_panel_settings</mat-icon>
            Admin panel
        </ng-template>
        <app-admin-panel></app-admin-panel>
    </mat-tab>
    <mat-tab *ngFor="let pj of detallesPersonajeAbiertos; let index = index" [label]="pj.Nombre">
        <ng-template mat-tab-label>
            <mat-icon class="me-2">person_search</mat-icon>
            {{pj.Nombre}}
            <button (click)="quitarDetallesPersonaje(pj.Nombre)" mat-icon-button class="ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-personaje 
            [pj]="detallesPersonajeAbiertos[index]" 
            (conjuroDetalles)="abrirDetallesConjuro($event);"
            (sortilegaDetalles)="abrirDetallesSortilega($event, pj.Nombre);"
            (tipoDetalles)="abrirDetallesTipoCriatura($event);"
            (rasgoDetalles)="abrirDetallesRasgo($event);">
        </app-detalles-personaje>
    </mat-tab>
    <mat-tab label="Nuevo personaje" *ngIf="AbrirNuevoPersonajeTab">
        <ng-template mat-tab-label="">
            <mat-icon class="me-2">person_add</mat-icon>
            Nuevo personaje
            <button (click)="quitarNuevoPersonaje()" mat-icon-button class="ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-nuevo-personaje (razaDetalles)="abrirDetallesRaza($event)"></app-nuevo-personaje>
    </mat-tab>
    <mat-tab label="Lista de {{ListadoTabTipo}}" *ngIf="AbrirListadoTab">
        <ng-template mat-tab-label="">
            <mat-icon class="me-2">view_list</mat-icon>
            Lista de {{ListadoTabTipo}}
            <button (click)="quitarListado()" mat-icon-button class="ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-listado (abrirDetalles)="recibirObjetoListado($event)" (itemSeleccionado)="recibirObjetoListado($event)" [tipoLista]="ListadoTabTipo" [tipoOperacion]="ListadoTabOperacion"></app-listado>
    </mat-tab>
    <mat-tab *ngFor="let tab of detallesRazaAbiertos; let index = index" [label]="tab.Nombre">
        <ng-template mat-tab-label>
            <mat-icon class="me-2">find_in_page</mat-icon>
            {{tab.Nombre}} (Raza)
            <button (click)="quitarDetallesRaza(tab.Nombre)" mat-icon-button class="ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-raza [raza]="detallesRazaAbiertos[index]"></app-detalles-raza>
    </mat-tab>
    <mat-tab *ngFor="let tab of detallesConjuroAbiertos; let index = index" [label]="tab.Nombre">
        <ng-template mat-tab-label>
            <mat-icon class="me-2">find_in_page</mat-icon>
            {{tab.Nombre}} (Conjuro)
            <button (click)="quitarDetallesConjuro(tab.Nombre)" mat-icon-button class="ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-conjuro [conjuro]="detallesConjuroAbiertos[index]"></app-detalles-conjuro>
    </mat-tab>
    <mat-tab *ngFor="let tupla of detallesSortilegaAbiertos; let index = index" [label]="tupla.ap.Conjuro.Nombre">
        <ng-template mat-tab-label>
            <mat-icon class="me-2">find_in_page</mat-icon>
            {{tupla.ap.Conjuro.Nombre}} (Sortílega)
            <button (click)="quitarDetallesSortilega(tupla.ap.Conjuro.Nombre)" mat-icon-button class="ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-conjuro [sortilega]="detallesSortilegaAbiertos[index]"></app-detalles-conjuro>
    </mat-tab>
    <mat-tab *ngFor="let tipo of detallesTipoCriaturaAbiertos; let index = index" [label]="tipo.Nombre">
        <ng-template mat-tab-label>
            <mat-icon class="me-2">find_in_page</mat-icon>
            {{tipo.Nombre}} (Tipo)
            <button (click)="quitarDetallesTipoCriatura(tipo.Nombre)" mat-icon-button class="ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-tipo-criatura 
            [tipo]="detallesTipoCriaturaAbiertos[index]"
            (rasgoDetalles)="abrirDetallesRasgo($event);">
        </app-detalles-tipo-criatura>
    </mat-tab>
    <mat-tab *ngFor="let rasgo of detallesRasgoAbiertos; let index = index" [label]="rasgo.Nombre">
        <ng-template mat-tab-label>
            <mat-icon class="me-2">find_in_page</mat-icon>
            {{rasgo.Nombre}} (Rasgo)
            <button (click)="quitarDetallesRasgo(rasgo.Nombre)" mat-icon-button class="ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-rasgo [rasgo]="detallesRasgoAbiertos[index]"></app-detalles-rasgo>
    </mat-tab>
    <mat-tab label="Información importante" class="pe-3">
        <ng-template mat-tab-label="">
            <mat-icon class="me-2">info_outline</mat-icon>
            Importante leer
        </ng-template>
        <mat-card class="mh-90 m-5">
            <mat-card-header>
                <mat-card-title class="text-white"><mat-icon class="me-2">construction</mat-icon> En construcción <mat-icon class="ms-2">construction</mat-icon></mat-card-title>
                <mat-card-subtitle>Esta web está siendo desarrollada por <a href="https://yosiftware.es" target="_blank">Yosiftware.es</a></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-white p-5">
                <p class="d-flex align-items-center mb-0">Versión 0.1 <mat-icon class="ms-2">done_all</mat-icon></p>
                <hr>
                <ol>
                    <li><p class="d-flex align-items-center mb-0">Base de la web creada</p></li> 
                    <li><p class="d-flex align-items-center mb-0">Creada lista de personajes</p></li>
                    <li><p class="d-flex align-items-center mb-0">Creada Vista de personajes</p></li>
                    <li><p class="d-flex align-items-center mb-0">Creada funcionalidad para descargar la ficha en pdf</p></li>
                </ol>
                <hr><hr>
                <p class="d-flex align-items-center mb-0">Versión 0.2 (Actual)</p>
                <hr>
                <ol>
                    <li><p class="d-flex align-items-center mb-0">Creada creación de personajes (Desarrollo actual)</p></li>
                    <li><p class="d-flex align-items-center mb-0">Creada vista de Razas</p></li>
                    <li><p class="d-flex align-items-center mb-0">Creada vista de tipos de criatura <mat-icon class="ms-2">done</mat-icon></p></li>
                    <li><p class="d-flex align-items-center mb-0">Creada vista de rasgos <mat-icon class="ms-2">done</mat-icon></p></li>
                    <li><p class="d-flex align-items-center mb-0">Creada vista de conjuros y sortílegas <mat-icon class="ms-2">done</mat-icon></p></li>
                    <li><p class="d-flex align-items-center mb-0">Creada vista de clases</p></li>
                    <li><p class="d-flex align-items-center mb-0">Creada vista de Dotes</p></li>
                </ol>
                <hr><hr>
                <p class="d-flex align-items-center mb-0">¡Aclaraciones!</p>
                <ul>
                    <li>
                        <p class="d-flex align-items-center mb-0">
                        Esta web no es, ni pretende ser, una demostración de conocimientos 
                        <mat-icon class="ms-2">done_all</mat-icon><mat-icon class="ms-2">done_all</mat-icon><mat-icon class="ms-2">done_all</mat-icon>
                        </p>
                    </li>
                    <li><p class="d-flex align-items-center mb-0">Actualmente los personajes existentes han sido creados con la versión de escritorio de la app</p></li>
                    <li><p class="d-flex align-items-center mb-0">Los botones de la cinta NO están programados.</p></li>
                    <li><p class="d-flex align-items-center mb-0">La mayoría de botones de insertar, modificar y detalles NO están programados.</p></li>
                </ul>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="w-100" (click)="verPersonajes()">Ok</button>
            </mat-card-actions>
        </mat-card>
    </mat-tab>
</mat-tab-group>