<mat-tab-group #TabControl mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Personajes" *ngIf="!temporaryRestrictionActive">
        <ng-template mat-tab-label="">
            <mat-icon class="tw-me-2">people_alt</mat-icon>
            Personajes
        </ng-template>
        <app-lista-personajes
            (NewDetallesTab)="abrirDetallesPersonaje($event)"
            (RazaDetallesTab)="abrirDetallesRazaPorId($event)"
            (ClaseDetallesTab)="abrirDetallesClasePorNombre($event)">
        </app-lista-personajes>
    </mat-tab>
    <mat-tab label="Mi perfil" *ngIf="usrLoggedIn && privateProfileTabOpen">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">account_circle</mat-icon>
            Mi perfil
            <button (click)="quitarPerfilPrivado()" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-user-profile [openRequest]="privateProfileOpenRequest"></app-user-profile>
    </mat-tab>
    <mat-tab label="Cuenta restringida" *ngIf="restrictionTabOpen">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">gpp_bad</mat-icon>
            Cuenta restringida
        </ng-template>
        <app-account-restriction-tab [openRequest]="restrictionOpenRequest"></app-account-restriction-tab>
    </mat-tab>
    <mat-tab label="Social" *ngIf="socialTabOpen">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">hub</mat-icon>
            Social
            <button (click)="quitarSocial()" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-social-hub [openRequest]="socialOpenRequest"></app-social-hub>
    </mat-tab>
    <mat-tab label="Panel de administración" *ngIf="usrPerm === 1 && adminPanelTabOpen">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">admin_panel_settings</mat-icon>
            Admin panel
            <button (click)="quitarPanelAdministracion()" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-admin-panel [openRequest]="adminPanelOpenRequest"></app-admin-panel>
    </mat-tab>
    <mat-tab label="Roadmap" *ngIf="roadmapTabOpen">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">map</mat-icon>
            Roadmap
            <button (click)="quitarRoadmap()" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-help-roadmap></app-help-roadmap>
    </mat-tab>
    <mat-tab label="Legal y privacidad" *ngIf="legalPrivacyTabOpen">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">gavel</mat-icon>
            Legal y privacidad
            <button (click)="quitarLegalPrivacidad()" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-help-legal></app-help-legal>
    </mat-tab>
    <mat-tab label="Uso y acerca" *ngIf="usageAboutTabOpen">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">help_center</mat-icon>
            Uso y acerca
            <button (click)="quitarUsoYAcerca()" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-help-usage-about></app-help-usage-about>
    </mat-tab>
    <mat-tab label="Reportar bug" *ngIf="feedbackBugTabOpen">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">bug_report</mat-icon>
            Reportar bug
            <button (click)="quitarFeedbackBug()" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-help-feedback kind="bug"></app-help-feedback>
    </mat-tab>
    <mat-tab label="Solicitar funcionalidad" *ngIf="feedbackFeatureTabOpen">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">lightbulb</mat-icon>
            Solicitar funcionalidad
            <button (click)="quitarFeedbackFeature()" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-help-feedback kind="feature"></app-help-feedback>
    </mat-tab>
    <mat-tab *ngFor="let pj of detallesPersonajeAbiertos; let index = index" [label]="pj.Nombre">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">person_search</mat-icon>
            {{pj.Nombre}}
            <button (click)="quitarDetallesPersonaje(pj)" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-personaje 
            [pj]="detallesPersonajeAbiertos[index]" 
            (conjuroDetalles)="abrirDetallesConjuro($event);"
            (sortilegaDetalles)="abrirDetallesSortilega($event, pj.Nombre);"
            (razaDetalles)="abrirDetallesRazaPorId($event);"
            (tipoDetalles)="abrirDetallesTipoCriatura($event);"
            (rasgoDetalles)="abrirDetallesRasgo($event);"
            (claseDetalles)="abrirDetallesClasePorNombre($event);"
            (especialDetallesPorNombre)="abrirDetallesEspecialPorNombre($event);"
            (racialDetallesPorNombre)="abrirDetallesRacialDesdeReferencia($event);"
            (plantillaDetalles)="abrirDetallesPlantillaDesdeFicha($event);"
            (subtipoDetalles)="abrirDetallesSubtipoDesdeReferencia($event);"
            (ventajaDetallesPorNombre)="abrirDetallesVentajaDesdeReferencia($event);"
            (monstruoDetalles)="abrirDetallesMonstruo($event);"
            (deidadDetallesPorNombre)="abrirDetallesDeidadPorNombre($event);"
            (perfilPublicoDetalles)="abrirPerfilPublico($event);"
            (doteDetalles)="abrirDetallesDote($event);">
        </app-detalles-personaje>
    </mat-tab>
    <mat-tab *ngFor="let publicProfileTab of publicProfileTabs" [label]="getEtiquetaPerfilPublico(publicProfileTab)">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">badge</mat-icon>
            {{getEtiquetaPerfilPublico(publicProfileTab)}}
            <button (click)="quitarPerfilPublico(publicProfileTab)" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-public-user-profile
            [uid]="publicProfileTab.uid"
            [initialDisplayName]="publicProfileTab.initialDisplayName ?? null"
            [mode]="publicProfileTab.mode ?? 'public'"
            (profileLoaded)="actualizarEtiquetaPerfilPublico($event)">
        </app-public-user-profile>
    </mat-tab>
    <mat-tab label="Nuevo personaje" *ngIf="AbrirNuevoPersonajeTab">
        <ng-template mat-tab-label="">
            <mat-icon class="tw-me-2">person_add</mat-icon>
            Nuevo personaje
            <button (click)="quitarNuevoPersonaje()" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-nuevo-personaje
            (razaDetalles)="abrirDetallesRaza($event)"
            (plantillaDetalles)="abrirDetallesPlantilla($event)"
            (claseDetalles)="abrirDetallesClase($event)"
            (conjuroDetalles)="abrirDetallesConjuro($event)"
            (doteDetalles)="abrirDetallesDote($event)"
            (especialDetallesPorNombre)="abrirDetallesEspecialPorNombre($event)"
            (rasgoDetalles)="abrirDetallesRasgo($event)"
            (racialDetallesPorNombre)="abrirDetallesRacialDesdeReferencia($event)"
            (monstruoDetalles)="abrirDetallesMonstruo($event)"
            (deidadDetallesPorNombre)="abrirDetallesDeidadPorNombre($event)"
            (ventajaDetallesPorNombre)="abrirDetallesVentajaDesdeReferencia($event)"
            (personajeFinalizado)="onNuevoPersonajeFinalizado($event)"
            (cerrarNuevoPersonajeSolicitado)="onCerrarNuevoPersonajeSolicitado()">
        </app-nuevo-personaje>
    </mat-tab>
    <mat-tab *ngFor="let listadoTab of listadoTabsAbiertos" [label]="getEtiquetaListadoTab(listadoTab)">
        <ng-template mat-tab-label="">
            <mat-icon class="tw-me-2">view_list</mat-icon>
            {{getEtiquetaListadoTab(listadoTab)}}
            <button (click)="quitarListado(listadoTab)" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <ng-container *ngIf="listadoTab.operacion === 'insertar' && (listadoTab.tipo === 'dotes' || listadoTab.tipo === 'conjuros'); else listadoGenerico">
            <div class="insercion-dotes-shell">
                <app-nueva-dote *ngIf="listadoTab.tipo === 'dotes'"></app-nueva-dote>
                <app-nueva-conjuro *ngIf="listadoTab.tipo === 'conjuros'"></app-nueva-conjuro>
            </div>
        </ng-container>
        <ng-template #listadoGenerico>
            <app-listado
                (abrirDetalles)="recibirObjetoListado($event)"
                (itemSeleccionado)="recibirObjetoListado($event)"
                [tipoLista]="listadoTab.tipo"
                [tipoOperacion]="listadoTab.operacion">
            </app-listado>
        </ng-template>
    </mat-tab>
    <mat-tab *ngFor="let manual of detallesManualAbiertos; let index = index" [label]="getEtiquetaManual(manual)">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">find_in_page</mat-icon>
            {{getEtiquetaManual(manual)}}
            <button (click)="quitarDetallesManual(manual)" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-manual [manual]="detallesManualAbiertos[index]"></app-detalles-manual>
    </mat-tab>
    <mat-tab *ngFor="let tab of detallesRazaAbiertos; let index = index" [label]="tab.Nombre">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">find_in_page</mat-icon>
            {{tab.Nombre}} (Raza)
            <button (click)="quitarDetallesRaza(tab)" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-raza
            [raza]="detallesRazaAbiertos[index]"
            (racialDetallesPorNombre)="abrirDetallesRacialDesdeReferencia($event)"
            (subtipoDetalles)="abrirDetallesSubtipoDesdeReferencia($event)">
        </app-detalles-raza>
    </mat-tab>
    <mat-tab *ngFor="let tab of detallesConjuroAbiertos; let index = index" [label]="tab.Nombre">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">find_in_page</mat-icon>
            {{tab.Nombre}} (Conjuro)
            <button (click)="quitarDetallesConjuro(tab)" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-conjuro [conjuro]="detallesConjuroAbiertos[index]"></app-detalles-conjuro>
    </mat-tab>
    <mat-tab *ngFor="let tupla of detallesSortilegaAbiertos; let index = index" [label]="tupla.ap.Conjuro.Nombre">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">find_in_page</mat-icon>
            {{tupla.ap.Conjuro.Nombre}} (Sortílega)
            <button (click)="quitarDetallesSortilega(tupla)" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-conjuro [sortilega]="detallesSortilegaAbiertos[index]"></app-detalles-conjuro>
    </mat-tab>
    <mat-tab *ngFor="let tipo of detallesTipoCriaturaAbiertos; let index = index" [label]="tipo.Nombre">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">find_in_page</mat-icon>
            {{tipo.Nombre}} (Tipo)
            <button (click)="quitarDetallesTipoCriatura(tipo)" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-tipo-criatura 
            [tipo]="detallesTipoCriaturaAbiertos[index]"
            (rasgoDetalles)="abrirDetallesRasgo($event);">
        </app-detalles-tipo-criatura>
    </mat-tab>
    <mat-tab *ngFor="let rasgo of detallesRasgoAbiertos; let index = index" [label]="rasgo.Nombre">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">find_in_page</mat-icon>
            {{rasgo.Nombre}} (Rasgo)
            <button (click)="quitarDetallesRasgo(rasgo)" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-rasgo [rasgo]="detallesRasgoAbiertos[index]"></app-detalles-rasgo>
    </mat-tab>
    <mat-tab *ngFor="let clase of detallesClaseAbiertos; let index = index" [label]="getEtiquetaClase(clase)">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">find_in_page</mat-icon>
            {{getEtiquetaClase(clase)}}
            <button (click)="quitarDetallesClase(clase)" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-clase
            [clase]="detallesClaseAbiertos[index]"
            (conjuroDetalles)="abrirDetallesConjuroPorId($event)"
            (especialDetalles)="abrirDetallesEspecialPorId($event)"
            (especialDetallesPorNombre)="abrirDetallesEspecialPorNombre($event)"
            (doteDetalles)="abrirDetallesDotePorId($event)"
            (doteDetallesPorNombre)="abrirDetallesDotePorNombre($event)"
            (armaDetallesId)="abrirDetallesArmaPorId($event)"
            (armaduraDetallesId)="abrirDetallesArmaduraPorId($event)">
        </app-detalles-clase>
    </mat-tab>
    <mat-tab *ngFor="let especial of detallesEspecialAbiertos; let index = index" [label]="getEtiquetaEspecial(especial)">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">find_in_page</mat-icon>
            {{getEtiquetaEspecial(especial)}}
            <button (click)="quitarDetallesEspecial(especial)" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-especial
            [especial]="detallesEspecialAbiertos[index]"
            (subtipoDetalles)="abrirDetallesSubtipoDesdeReferencia($event)">
        </app-detalles-especial>
    </mat-tab>
    <mat-tab *ngFor="let racial of detallesRacialAbiertos; let index = index" [label]="getEtiquetaRacial(racial)">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">find_in_page</mat-icon>
            {{getEtiquetaRacial(racial)}}
            <button (click)="quitarDetallesRacial(racial)" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-racial
            [racial]="detallesRacialAbiertos[index]"
            (doteDetallesId)="abrirDetallesDotePorId($event)"
            (conjuroDetallesId)="abrirDetallesConjuroPorId($event)">
        </app-detalles-racial>
    </mat-tab>
    <mat-tab *ngFor="let doteCtx of detallesDoteAbiertos; let index = index" [label]="getEtiquetaDote(doteCtx)">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">find_in_page</mat-icon>
            {{getEtiquetaDote(doteCtx)}}
            <button (click)="quitarDetallesDote(doteCtx)" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-dote
            [dote]="detallesDoteAbiertos[index]"
            (armaDetallesId)="abrirDetallesArmaPorId($event)"
            (armaduraDetallesId)="abrirDetallesArmaduraPorId($event)">
        </app-detalles-dote>
    </mat-tab>
    <mat-tab *ngFor="let ventaja of detallesVentajaAbiertos; let index = index" [label]="getEtiquetaVentaja(ventaja)">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">find_in_page</mat-icon>
            {{getEtiquetaVentaja(ventaja)}}
            <button (click)="quitarDetallesVentaja(ventaja)" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-ventaja [ventaja]="detallesVentajaAbiertos[index]"></app-detalles-ventaja>
    </mat-tab>
    <mat-tab *ngFor="let plantilla of detallesPlantillaAbiertos; let index = index" [label]="getEtiquetaPlantilla(plantilla)">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">find_in_page</mat-icon>
            {{getEtiquetaPlantilla(plantilla)}}
            <button (click)="quitarDetallesPlantilla(plantilla)" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-plantilla
            [plantilla]="detallesPlantillaAbiertos[index]"
            (conjuroDetalles)="abrirDetallesConjuroPorId($event)"
            (doteDetalles)="abrirDetallesDotePorId($event)"
            (subtipoDetalles)="abrirDetallesSubtipoDesdeReferencia($event)">
        </app-detalles-plantilla>
    </mat-tab>
    <mat-tab *ngFor="let subtipo of detallesSubtipoAbiertos; let index = index" [label]="getEtiquetaSubtipo(subtipo)">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">find_in_page</mat-icon>
            {{getEtiquetaSubtipo(subtipo)}}
            <button (click)="quitarDetallesSubtipo(subtipo)" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-subtipo
            [subtipo]="detallesSubtipoAbiertos[index]"
            (doteDetalles)="abrirDetallesDotePorId($event)"
            (conjuroDetalles)="abrirDetallesConjuroPorId($event)"
            (rasgoDetalles)="abrirDetallesRasgo($event)"
            (plantillaDetalles)="abrirDetallesPlantillaPorId($event)">
        </app-detalles-subtipo>
    </mat-tab>
    <mat-tab *ngFor="let monstruo of detallesMonstruoAbiertos; let index = index" [label]="getEtiquetaMonstruo(monstruo)">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">find_in_page</mat-icon>
            {{getEtiquetaMonstruo(monstruo)}}
            <button (click)="quitarDetallesMonstruo(monstruo)" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-monstruo
            [monstruo]="detallesMonstruoAbiertos[index]"
            (conjuroDetallesId)="abrirDetallesConjuroPorId($event)"
            (doteDetalles)="abrirDetallesDote($event)"
            (racialDetalles)="abrirDetallesRacial($event)"
            (claseDetallesId)="abrirDetallesClasePorId($event)"
            (subtipoDetalles)="abrirDetallesSubtipoDesdeReferencia($event)"
            (tipoCriaturaDetallesId)="abrirDetallesTipoCriaturaPorId($event)"
            (monstruoRelacionadoDetalles)="abrirDetallesMonstruo($event)">
        </app-detalles-monstruo>
    </mat-tab>
    <mat-tab *ngFor="let arma of detallesArmaAbiertos; let index = index" [label]="getEtiquetaArma(arma)">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">gavel</mat-icon>
            {{getEtiquetaArma(arma)}}
            <button (click)="quitarDetallesArma(arma)" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-arma [arma]="detallesArmaAbiertos[index]"></app-detalles-arma>
    </mat-tab>
    <mat-tab *ngFor="let armadura of detallesArmaduraAbiertos; let index = index" [label]="getEtiquetaArmadura(armadura)">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">shield</mat-icon>
            {{getEtiquetaArmadura(armadura)}}
            <button (click)="quitarDetallesArmadura(armadura)" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-armadura [armadura]="detallesArmaduraAbiertos[index]"></app-detalles-armadura>
    </mat-tab>
    <mat-tab *ngFor="let deidad of detallesDeidadAbiertos; let index = index" [label]="getEtiquetaDeidad(deidad)">
        <ng-template mat-tab-label>
            <mat-icon class="tw-me-2">church</mat-icon>
            {{getEtiquetaDeidad(deidad)}}
            <button (click)="quitarDetallesDeidad(deidad)" mat-icon-button class="tw-ms-2"><mat-icon>close</mat-icon></button>
        </ng-template>
        <app-detalles-deidad
            [deidad]="detallesDeidadAbiertos[index]"
            (armaDetallesId)="abrirDetallesArmaPorId($event)">
        </app-detalles-deidad>
    </mat-tab>
</mat-tab-group>




