<div id="container-lista" class="tw-w-full tw-bg-[#212529] tw-h-full">
    <div class="lista-row tw-w-full tw-relative tw-flex tw-justify-center tw-items-center">
        <button id="filtros" matTooltip="Filtros de especiales" #filtros mat-icon-button
            [matMenuTriggerFor]="menuEspeciales" class="filtros">
            <mat-icon>filter_alt</mat-icon>
        </button>
        <mat-menu id="containerMenu" #menuEspeciales="matMenu" class="tw-me-1 menu-filtros-estandar">
            <div id="menu">
                <mat-form-field (click)="$event.stopPropagation();" (keyup)="filtroEspeciales();">
                    <mat-label>Incluye texto</mat-label>
                    <input #especialTextInc matInput placeholder="Texto a buscar">
                </mat-form-field>
            </div>
        </mat-menu>

        <table id="especiales" #tablaEspeciales mat-table [dataSource]="especialesDS" matSort *ngIf="especiales.length > 0; else cargando">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of especialColumns">
                <th class="tw-text-lg tw-font-medium" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por {{column}}">
                    {{column.replace('_', ' ')}}
                </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-stroked-button matTooltip="Clic para ver este especial" [matTooltipShowDelay]="200" *ngIf="column == 'Nombre'" color="accent"
                        class="tw-flex tw-justify-start sombra3d tw-w-full" (click)="verDetallesEspecial(element.Id); $event.stopPropagation();">
                        <mat-icon>read_more</mat-icon>
                        {{element[column]}}
                    </button>
                    <div class="tw-flex tw-justify-center tw-items-center" *ngIf="column == 'Extra'">
                        <mat-checkbox [checked]="element.Extra" [disableRipple]="true"
                            (click)="$event.preventDefault(); $event.stopPropagation();"></mat-checkbox>
                    </div>
                    <div class="tw-flex tw-justify-center tw-items-center" *ngIf="column == 'Repetible'">
                        <mat-checkbox [checked]="element.Repetible" [disableRipple]="true"
                            (click)="$event.preventDefault(); $event.stopPropagation();"></mat-checkbox>
                    </div>
                    <div class="tw-flex tw-justify-center tw-items-center" *ngIf="column == 'Activa_extra'">
                        <mat-checkbox [checked]="element.Activa_extra" [disableRipple]="true"
                            (click)="$event.preventDefault(); $event.stopPropagation();"></mat-checkbox>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="especialColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let element; columns: especialColumns;" class="element-row elegir"
                (click)="seleccionarEspecial(element.Id)"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell tw-text-center tw-text-white tw-p-3" [attr.colspan]="especialColumns.length">
                    Ningún especial encaja con los filtros
                </td>
            </tr>
        </table>
        <ng-template #cargando>
            <div class="superballs">
                <div class="superballs__dot"></div>
                <div class="superballs__dot"></div>
            </div>
        </ng-template>
    </div>
    <div class="lista-row tw-w-full tw-flex tw-items-center">
        <mat-paginator class="tw-w-full" [pageSizeOptions]="[10, 20, 30, 40]" showFirstLastButtons aria-label="Selecciona una página de especiales">
        </mat-paginator>
    </div>
</div>
