<div class="tw-w-full tw-px-3 detalle-view" *ngIf="conjuro">
    <div class="tw-flex tw-flex-wrap">
        <div class="detalle-col tw-w-full md:tw-w-1/3 tw-p-2">
            <div class="tw-flex tw-flex-wrap tw-items-center sombra-caja-sm tw-rounded-md tw-p-2 tw-my-2" *ngIf="ap && fuente">
                <mat-chip class="tw-h-auto warm tw-w-full sombra-caja-sm tw-py-2 tw-m-1 chip-titulo">
                    <mat-chip class="sombra3d-sm tw-m-1 tw-ms-2"><mat-icon>follow_the_signs</mat-icon></mat-chip>
                    Estas viendo una aptitud sortílega de
                    <mat-chip class="sombra3d-sm tw-m-1">{{fuente}}</mat-chip>
                </mat-chip>
                <mat-chip class="sombra3d-sm tw-m-1">La utiliza como un lanzador de nivel {{ap.Nivel_lanzador}}</mat-chip>
                <mat-chip class="tw-h-auto sombra3d-sm tw-m-1">Usos diarios <mat-chip class="sombra3d-sm tw-m-1">{{ap.Usos_diarios}}</mat-chip></mat-chip>
                <mat-chip class="sombra3d-sm tw-m-1" *ngIf="ap.Dgs_necesarios > 0">solo la puede usar si tiene al menos {{ap.Dgs_necesarios}} DGs</mat-chip>
                <mat-chip class="sombra3d-sm tw-m-1" *ngIf="ap.Origen != fuente">La obtuvo de: {{ap.Origen}}</mat-chip>
                <div class="tw-flex tw-flex-wrap tw-items-center tw-rounded-md tw-p-1 tw-mt-2" *ngIf="ap.Descripcion && ap.Descripcion != 'No especifica'">
                    <mat-chip class="tw-w-full sombra-caja-sm tw-m-1 tw-mb-2 chip-titulo">Descripción <mat-icon class="tw-ms-2">short_text</mat-icon></mat-chip>
                    <p class="tw-m-1">{{ap.Descripcion}}</p>
                </div>
            </div>
            <div class="tw-flex tw-flex-wrap tw-items-center sombra-caja-sm tw-rounded-md tw-p-2 tw-my-2">
                <mat-chip class="tw-h-auto warm tw-w-full sombra-caja-sm tw-py-2 tw-m-1 chip-titulo" [ngClass]="conjuro.Descriptores ? 'titulo' : ''">
                    {{conjuro.Nombre}}
                    <mat-icon class="tw-ms-2">auto_awesome</mat-icon>
                    <mat-chip class="sombra3d-sm tw-m-1" *ngIf="conjuro.Descriptores">
                        {{getDescriptores(conjuro.Descriptores)}}
                    </mat-chip>
                </mat-chip>
                <mat-chip class="chip-clic sombra3d-sm tw-m-1" matTooltip="Pulsa para ver el manual" [matTooltipShowDelay]="250"
                    matTooltipClass="tt-accent" (click)="abrirDetalleManual()">
                    <mat-icon class="tw-me-2">auto_stories</mat-icon>{{conjuro.Manual}}
                </mat-chip>
                <mat-chip class="tw-h-auto warm sombra3d-sm tw-m-1" *ngIf="conjuro.Arcano">Arcano <mat-chip class="sombra3d-sm tw-m-1">{{conjuro.Escuela.Nombre}}</mat-chip></mat-chip>
                <mat-chip class="warm sombra3d-sm tw-m-1" *ngIf="conjuro.Divino">Divino</mat-chip>
                <mat-chip class="tw-h-auto warm sombra3d-sm tw-m-1" *ngIf="conjuro.Psionico">Psionico <mat-chip class="sombra3d-sm tw-m-1">{{conjuro.Disciplina.Nombre}}</mat-chip></mat-chip>
                <mat-chip class="warm sombra3d-sm tw-m-1" *ngIf="conjuro.Alma">Alma</mat-chip>
                <mat-chip class="warm sombra3d-sm tw-m-1" *ngIf="conjuro.Resistencia_conjuros">Ofrece resistencia a conjuros</mat-chip>
                <mat-chip class="warm sombra3d-sm tw-m-1" *ngIf="conjuro.Resistencia_poderes">Ofrece resistencia a poderes</mat-chip>
                <mat-chip class="warm sombra3d-sm tw-m-1" *ngIf="conjuro.Permanente">Puede hacerse permanente</mat-chip>
                <mat-chip class="tw-h-auto warm sombra3d-sm tw-m-1" *ngIf="conjuro.Psionico && (+conjuro.Puntos_poder) > 0">Cuesta<mat-chip class="sombra3d-sm tw-m-1">{{conjuro.Puntos_poder}}</mat-chip>puntos de poder</mat-chip>
                <mat-chip class="warm sombra3d-sm tw-m-1" *ngIf="!conjuro.Oficial" matTooltip="Este conjuro es homebrew" matTooltipClass="tt-accent">No es oficial</mat-chip>
                <div class="tw-flex tw-flex-wrap tw-items-center tw-rounded-md tw-p-1 tw-mt-2" *ngIf="conjuro.Descripcion_aumentos != 'No especifica'">
                    <mat-chip class="tw-w-full sombra-caja-sm tw-m-1 tw-mb-2 chip-titulo">Descripción de los aumentos<mat-icon class="tw-ms-2">short_text</mat-icon></mat-chip>
                    <p class="tw-m-1">{{conjuro.Descripcion_aumentos}}</p>
                </div>
            </div>
            <div class="tw-flex tw-flex-wrap tw-items-center sombra-caja-sm tw-rounded-md tw-p-2 tw-my-2">
                <mat-chip class="tw-h-auto tw-w-full sombra-caja-sm tw-py-2 tw-m-1 tw-mb-2 chip-titulo">Detalles<mat-icon class="tw-ms-2">format_list_numbered</mat-icon></mat-chip>
                <mat-chip class="tw-h-auto sombra3d-sm tw-m-1" *ngIf="conjuro.Tiempo_lanzamiento">Tiempo de lanzamiento <mat-chip class="sombra3d-sm tw-m-1">{{conjuro.Tiempo_lanzamiento}}</mat-chip></mat-chip>
                <mat-chip class="tw-h-auto sombra3d-sm tw-m-1" *ngIf="conjuro.Alcance">Alcance <mat-chip class="sombra3d-sm tw-m-1">{{conjuro.Alcance != '0' ? conjuro.Alcance : 'Personal'}}</mat-chip></mat-chip>
                <mat-chip class="tw-h-auto sombra3d-sm tw-m-1" *ngIf="conjuro.Objetivo && conjuro.Objetivo != 'No especifica'">
                    Objetivo 
                    <mat-chip class="sombra3d-sm tw-m-1" [ngClass]="conjuro.Objetivo.length > 60 ? 'chip-multilinea' : ''">
                        {{conjuro.Objetivo}}
                    </mat-chip>
                </mat-chip>
                <mat-chip class="tw-h-auto sombra3d-sm tw-m-1" *ngIf="conjuro.Efecto && conjuro.Efecto != 'No especifica'">
                    Efecto 
                    <mat-chip class="sombra3d-sm tw-m-1" [ngClass]="conjuro.Efecto.length > 60 ? 'chip-multilinea' : ''">
                        {{conjuro.Efecto}}
                    </mat-chip>
                </mat-chip>
                <mat-chip class="tw-h-auto sombra3d-sm tw-m-1" *ngIf="conjuro.Area && conjuro.Area != 'No especifica'">
                    Área 
                    <mat-chip class="sombra3d-sm tw-ms-2" [ngClass]="conjuro.Area.length > 60 ? 'chip-multilinea' : ''">
                        {{conjuro.Area}}
                    </mat-chip>
                </mat-chip>
                <mat-chip class="tw-h-auto sombra3d-sm tw-m-1" *ngIf="conjuro.Duracion && conjuro.Duracion != 'No especifica'">
                    Duración 
                    <mat-chip class="sombra3d-sm tw-ms-2" [ngClass]="conjuro.Duracion.length > 60 ? 'chip-multilinea' : ''">
                        {{conjuro.Duracion}}
                    </mat-chip>
                </mat-chip>
                <mat-chip class="tw-h-auto sombra3d-sm tw-m-1" *ngIf="conjuro.Tipo_salvacion && conjuro.Tipo_salvacion != 'No especifica'">
                    Salvación 
                    <mat-chip class="sombra3d-sm tw-ms-2" [ngClass]="conjuro.Tipo_salvacion.length > 60 ? 'chip-multilinea' : ''">
                        {{conjuro.Tipo_salvacion}}
                    </mat-chip>
                </mat-chip>
            </div>
        </div>
        <div class="detalle-col tw-w-full md:tw-w-1/3 tw-p-2">
            <div class="tw-flex tw-flex-wrap tw-items-center sombra-caja-sm tw-rounded-md tw-p-2 tw-my-2">
                <mat-chip class="tw-w-full sombra-caja-sm tw-m-1 tw-mb-2 chip-titulo">Descripción<mat-icon class="tw-ms-2">short_text</mat-icon></mat-chip>
                <p class="tw-m-1">{{conjuro.Descripcion}}</p>
            </div>
        </div>
        <div class="detalle-col tw-w-full md:tw-w-1/3 tw-p-2">
            <mat-accordion>
                <mat-expansion-panel *ngIf="conjuro.Componentes">
                    <mat-expansion-panel-header>
                        <button mat-stroked-button color="accent" class="tw-rounded-none tw-rounded-t-md">
                            <h2 class="tw-mb-0">Componentes</h2>
                        </button>
                    </mat-expansion-panel-header>
                    <mat-chip-set class="tw-m-1">
                        <mat-chip *ngFor="let c of conjuro.Componentes">
                            {{c.Componente}}
                        </mat-chip>
                    </mat-chip-set>
                    <div class="tw-flex tw-flex-wrap tw-items-center tw-p-1" *ngIf="conjuro.Descripcion_componentes != 'No especifica'">
                        <mat-chip class="tw-w-full sombra-caja-sm tw-m-1 tw-mb-2 chip-titulo">Descripción<mat-icon class="tw-ms-2">short_text</mat-icon></mat-chip>
                        <p class="tw-m-1">{{conjuro.Descripcion_componentes}}</p>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="conjuro.Nivel_clase">
                    <mat-expansion-panel-header>
                        <button mat-stroked-button color="accent" class="tw-rounded-none">
                            <h2 class="tw-mb-0">Niveles de acceso según clase</h2>
                        </button>
                    </mat-expansion-panel-header>
                    <mat-chip-set class="tw-m-1">
                        <mat-chip *ngFor="let c of conjuro.Nivel_clase" class="tw-h-auto sombra3d-sm">
                            {{c.Clase}}
                            <mat-chip class="sombra3d-sm tw-m-1 tw-ms-6">
                                {{c.Nivel}}
                            </mat-chip>
                            <mat-chip class="sombra3d-sm tw-m-1 tw-ms-6" *ngIf="c.Espontaneo">
                                Espontáneo
                            </mat-chip>
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="conjuro.Nivel_dominio">
                    <mat-expansion-panel-header>
                        <button mat-stroked-button color="accent" class="tw-rounded-none">
                            <h2 class="tw-mb-0">Niveles de acceso según dominio</h2>
                        </button>
                    </mat-expansion-panel-header>
                    <mat-chip-set class="tw-m-1">
                        <mat-chip *ngFor="let c of conjuro.Nivel_dominio" class="tw-h-auto sombra3d-sm">
                            {{c.Dominio}}
                            <mat-chip class="sombra3d-sm tw-m-1 tw-ms-6">
                                {{c.Nivel}}
                            </mat-chip>
                            <mat-chip class="sombra3d-sm tw-m-1 tw-ms-6" *ngIf="c.Espontaneo">
                                Espontáneo
                            </mat-chip>
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="conjuro.Nivel_disciplinas">
                    <mat-expansion-panel-header>
                        <button mat-stroked-button color="accent" class="tw-rounded-none tw-rounded-b-md">
                            <h2 class="tw-mb-0">Niveles de acceso según disciplina</h2>
                        </button>
                    </mat-expansion-panel-header>
                    <mat-chip-set class="tw-m-1">
                        <mat-chip *ngFor="let c of conjuro.Nivel_disciplinas" class="tw-h-auto sombra3d-sm">
                            {{c.Disciplina}}
                            <mat-chip class="sombra3d-sm tw-m-1 tw-ms-6">
                                {{c.Nivel}}
                            </mat-chip>
                            <mat-chip class="sombra3d-sm tw-m-1 tw-ms-6" *ngIf="c.Espontaneo">
                                Espontáneo
                            </mat-chip>
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
