<div id="container-lista" class="tw-w-full tw-bg-[#212529] tw-h-full">
    <div class="lista-row tw-w-full tw-relative tw-flex tw-justify-center tw-items-center">
        <button id="filtros" matTooltip="Filtros de ventajas/desventajas" #filtros mat-icon-button
            [matMenuTriggerFor]="menuVentajas" class="filtros">
            <mat-icon>filter_alt</mat-icon>
        </button>
        <button id="infoVentajas" matTooltip="Más info sobre este sistema" mat-icon-button class="filtros"
            aria-label="Información sobre ventajas y desventajas homebrew"
            (click)="abrirInfoVentajasHomebrew($event)">
            <mat-icon>help_outline</mat-icon>
        </button>
        <mat-menu id="containerMenu" #menuVentajas="matMenu" class="tw-me-1 menu-filtros-estandar">
            <div id="menu">
                <mat-form-field (click)="$event.stopPropagation();" (keyup)="filtroVentajas();">
                    <mat-label>Incluye texto</mat-label>
                    <input #ventajaTextInc matInput placeholder="Texto a buscar">
                </mat-form-field>
                <app-manual-autocomplete
                    [manuales]="manuales"
                    [(value)]="defaultManual"
                    (selectionChange)="filtroVentajas()">
                </app-manual-autocomplete>
            </div>
        </mat-menu>

        <table id="ventajas" #tablaVentajas mat-table [dataSource]="ventajasDS" matSort *ngIf="ventajas.length > 0; else cargando">
            <ng-container matColumnDef="Nombre">
                <th class="tw-text-lg tw-font-medium" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por nombre">
                    Nombre
                </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-stroked-button matTooltip="Clic para ver este detalle" [matTooltipShowDelay]="200"
                        color="accent" class="tw-flex tw-justify-start sombra3d tw-w-full"
                        (click)="verDetallesVentaja(element); $event.stopPropagation();">
                        <mat-icon>read_more</mat-icon>
                        {{element.Nombre}}
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="Tipo">
                <th class="tw-text-lg tw-font-medium" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por tipo">
                    Tipo
                </th>
                <td mat-cell *matCellDef="let element">{{element.Tipo}}</td>
            </ng-container>

            <ng-container matColumnDef="Coste">
                <th class="tw-text-lg tw-font-medium" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por coste">
                    Coste
                </th>
                <td mat-cell *matCellDef="let element">{{element.Coste > 0 ? '+' : ''}}{{element.Coste}}</td>
            </ng-container>

            <ng-container matColumnDef="Manual">
                <th class="tw-text-lg tw-font-medium" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por manual">
                    Manual
                </th>
                <td mat-cell *matCellDef="let element">
                    <button type="button" class="manual-clickable" (click)="abrirDetalleManual(element, $event)">
                        {{getManualVisible(element)}}
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="ventajaColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let element; columns: ventajaColumns;" class="element-row elegir"
                (click)="seleccionarVentaja(element)"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell tw-text-center tw-text-white tw-p-3" colspan="4">
                    Ninguna ventaja/desventaja encaja con los filtros
                </td>
            </tr>
        </table>
        <ng-template #cargando>
            <div class="superballs">
                <div class="superballs__dot"></div>
                <div class="superballs__dot"></div>
            </div>
        </ng-template>
    </div>
    <div class="lista-row tw-w-full tw-flex tw-items-center">
        <mat-paginator class="tw-w-full" [pageSizeOptions]="[10, 20, 30, 40]" showFirstLastButtons
            aria-label="Selecciona una pagina de ventajas">
        </mat-paginator>
    </div>
</div>
