<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-12 p-2">
            <div class="d-flex flex-wrap align-items-center rounded p-2 my-2">
                <mat-icon class="me-1">account_box</mat-icon>
                <mat-chip class="warm m-1">{{pj.Nombre}}</mat-chip>
                <mat-chip class="m-1">{{pj.Genero}}</mat-chip>
                <mat-chip class="m-1">{{pj.Alineamiento}}</mat-chip>
                <mat-chip class="m-1">Nivel {{pj.Nivel}}</mat-chip>
                <mat-chip class="m-1" *ngIf="pj.Ajuste_nivel > 0">Ajuste de nivel +{{pj.Ajuste_nivel}}</mat-chip>
                <mat-chip class="m-1">Exp {{pj.Experiencia}}</mat-chip>
                <mat-chip class="warm m-1">Ataque base {{pj.Ataque_base}}</mat-chip>
                <mat-chip class="m-1">Pg {{pj.Vida}}</mat-chip>
                <mat-chip class="m-1" matTooltip="
                    {{pj.Armadura_natural > 0 ? 'Armadura natural: ' + pj.Armadura_natural : ''}} 
                    {{pj.Ca_desvio > 0 ? 'Ca de desvio: ' + pj.Ca_desvio : ''}} 
                    {{pj.Ca_varios > 0 ? 'Mod varios: ' + pj.Ca_varios : ''}}">
                    <mat-icon class="me-1" *ngIf="pj.Armadura_natural > 0 || pj.Ca_desvio > 0 ||pj.Ca_varios > 0">ads_click</mat-icon>Ca {{pj.Ca}}
                </mat-chip>
                <ng-template *ngIf="pj.Campana != 'Sin campaña'">
                    <mat-chip class="m-1">Campaña {{pj.Campana}}</mat-chip>
                    <mat-chip class="m-1">Trama {{pj.Trama}}</mat-chip>
                    <mat-chip class="m-1">Subtrama {{pj.Subtrama}}</mat-chip>
                </ng-template>
                <mat-chip class="m-1">Deidad {{pj.Deidad}}</mat-chip>
                <mat-chip class="warm m-1" *ngIf="!pj.Oficial" matTooltip="Este personaje tiene elementos homebrew"><mat-icon class="me-1">ads_click</mat-icon>No es oficial</mat-chip>
            </div>
            <div class="d-flex flex-wrap align-items-center rounded p-2 my-2">
                <mat-icon class="me-1">settings_accessibility</mat-icon>
                <mat-chip class="warm m-1">{{pj.Raza}}</mat-chip>
                <mat-chip class="m-1">{{pj.Tamano.Nombre}}</mat-chip>
                <mat-chip class="m-1">{{pj.Tipo_criatura}}</mat-chip>
                <mat-chip class="m-1">Velocidad {{pj.Correr}} pies</mat-chip>
                <mat-chip class="m-1" *ngIf="pj.Nadar > 0">Nadar {{pj.Nadar}}</mat-chip>
                <mat-chip class="m-1" *ngIf="pj.Volar > 0">Volar {{pj.Volar}}</mat-chip>
                <mat-chip class="m-1" *ngIf="pj.Trepar > 0">Trepar {{pj.Trepar}}</mat-chip>
                <mat-chip class="m-1" *ngIf="pj.Escalar > 0">Escalar {{pj.Escalar}}</mat-chip>
                <mat-chip-set class="m-1">
                    <mat-chip *ngFor="let p of pj.Plantillas" class="warm m-1">{{p.Nombre}}</mat-chip>
                </mat-chip-set>
            </div>
            <div class="d-flex flex-wrap align-items-center rounded p-2 my-2">
                <mat-icon class="me-1">style</mat-icon>
                <mat-chip-set class="m-1" *ngIf="pj.desgloseClases;else sinClase">
                    <mat-chip class="warm" *ngFor="let c of pj.desgloseClases">
                        {{c.Nombre}} {{c.Nivel}}
                    </mat-chip>
                </mat-chip-set>
                <ng-template #sinClase>
                    <mat-chip class="m-1">No tiene clase</mat-chip>
                </ng-template>
            </div>
            <div id="caracteristicas" class="rounded p-2 my-2">
                <mat-chip class="warm">Características</mat-chip>
                Fuerza
                <mat-chip [ngClass]="pj.Fuerza > 18 ? 'warm' : ''" class="m-1">{{pj.Fuerza}}</mat-chip>
                <mat-chip [ngClass]="pj.Fuerza > 18 ? 'warm' : ''" class="m-1">{{pj.ModFuerza > 0 ? '+' : ''}}{{pj.ModFuerza}}</mat-chip>
                Destreza
                <mat-chip [ngClass]="pj.Destreza > 18 ? 'warm' : ''" class="m-1">{{pj.Destreza}}</mat-chip>
                <mat-chip [ngClass]="pj.Destreza > 18 ? 'warm' : ''" class="m-1">{{pj.ModDestreza > 0 ? '+' : ''}}{{pj.ModDestreza}}</mat-chip>
                Constitución
                <mat-chip [ngClass]="pj.Constitucion > 18 ? 'warm' : ''" class="m-1">{{pj.Constitucion}}</mat-chip>
                <mat-chip [ngClass]="pj.Constitucion > 18 ? 'warm' : ''" class="m-1">{{pj.ModConstitucion > 0 ? '+' : ''}}{{pj.ModConstitucion}}</mat-chip>
                Inteligencia
                <mat-chip [ngClass]="pj.Inteligencia > 18 ? 'warm' : ''" class="m-1">{{pj.Inteligencia}}</mat-chip>
                <mat-chip [ngClass]="pj.Inteligencia > 18 ? 'warm' : ''" class="m-1">{{pj.ModInteligencia > 0 ? '+' : ''}}{{pj.ModInteligencia}}</mat-chip>
                Sabiduría
                <mat-chip [ngClass]="pj.Sabiduria > 18 ? 'warm' : ''" class="m-1">{{pj.Sabiduria}}</mat-chip>
                <mat-chip [ngClass]="pj.Sabiduria > 18 ? 'warm' : ''" class="m-1">{{pj.ModSabiduria > 0 ? '+' : ''}}{{pj.ModSabiduria}}</mat-chip>
                Carisma
                <mat-chip [ngClass]="pj.Carisma > 18 ? 'warm' : ''" class="m-1">{{pj.Carisma}}</mat-chip>
                <mat-chip [ngClass]="pj.Carisma > 18 ? 'warm' : ''" class="m-1">{{pj.ModCarisma > 0 ? '+' : ''}}{{pj.ModCarisma}}</mat-chip>
            </div>
        </div>
        <div class="col-md-4 col-12 p-2">
            <div class="rounded p-2 my-2">
                <mat-chip class="w-100 mb-2">Personalidad</mat-chip>
                <p>{{pj.Personalidad}}</p>
            </div>
            <div class="rounded p-2 my-2">
                <mat-chip class="w-100 mb-2">Contexto</mat-chip>
                <p>{{pj.Contexto}}</p>
            </div>
        </div>
        <div class="col-md-4 col-12 p-2">
            <button mat-stroked-button color="accent" class="w-100 rounded my-2" (click)="generarFicha();">
                Generar pdf
            </button>
            <mat-accordion>
                <mat-expansion-panel *ngIf="pj.Claseas">
                    <mat-expansion-panel-header>
                        <button mat-stroked-button color="accent" class="rounded-0 rounded-top">
                            <h2 class="mb-0">Habilidades cláseas</h2>
                        </button>
                    </mat-expansion-panel-header>
                    <mat-chip-set class="m-1">
                        <mat-chip *ngFor="let c of pj.Claseas">
                            {{c.Nombre}}{{c.Extra != 'Nada' ? ' ' + c.Extra : ''}}
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="pj.Raciales">
                    <mat-expansion-panel-header>
                        <button mat-stroked-button color="accent" class="rounded-0">
                            <h2 class="mb-0">Habilidades raciales</h2>
                        </button>
                    </mat-expansion-panel-header>
                    <mat-chip-set class="m-1">
                        <mat-chip *ngFor="let r of pj.Raciales">
                            {{r}}
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="pj.Dotes">
                    <mat-expansion-panel-header>
                        <button mat-stroked-button color="accent" class="rounded-0">
                            <h2 class="mb-0">Dotes obtenidas</h2>
                        </button>
                    </mat-expansion-panel-header>
                    <mat-chip-set class="m-1">
                        <mat-chip *ngFor="let d of pj.Dotes" matTooltip="Origen: {{d.Origen}}">
                            {{d.Nombre}} {{d.Extra != 'No aplica' ? '(' + d.Extra + ')' : ''}}
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="pj.Habilidades">
                    <mat-expansion-panel-header>
                        <button mat-stroked-button color="accent" class="rounded-0">
                            <h2 class="mb-0">Habilidades</h2>
                        </button>
                    </mat-expansion-panel-header>
                    <mat-chip-set class="m-1">
                        <mat-chip *ngFor="let h of Habilidades">
                            {{h.Nombre}}{{h.Extra != '' ? ' - ' + h.Extra : ''}}: +{{h.Rangos + h.Rangos_varios + h.Mod_car}} {{h.Varios != '' ? ' [' + h.Varios + ']' : ''}}
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="pj.Idiomas">
                    <mat-expansion-panel-header>
                        <button mat-stroked-button color="accent" class="rounded-0">
                            <h2 class="mb-0">Idiomas conocidos</h2>
                        </button>
                    </mat-expansion-panel-header>
                    <mat-chip-set class="m-1">
                        <mat-chip *ngFor="let i of pj.Idiomas">
                            {{i}}
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="pj.Dominios">
                    <mat-expansion-panel-header>
                        <button mat-stroked-button color="accent" class="rounded-0">
                            <h2 class="mb-0">Dominios</h2>
                        </button>
                    </mat-expansion-panel-header>
                    <mat-chip-set class="m-1">
                        <mat-chip *ngFor="let d of pj.Dominios">
                            {{d}}
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="pj.Conjuros">
                    <mat-expansion-panel-header>
                        <button mat-stroked-button color="accent" class="rounded-0">
                            <h2 class="mb-0">Conjuros conocidos</h2>
                        </button>
                    </mat-expansion-panel-header>
                    <mat-chip-set class="m-1">
                        <mat-chip *ngFor="let c of pj.Conjuros">
                            {{c}}
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="pj.Sortilegas">
                    <mat-expansion-panel-header>
                        <button mat-stroked-button color="accent" class="rounded-0">
                            <h2 class="mb-0">Habilidades sortílegas</h2>
                        </button>
                    </mat-expansion-panel-header>
                    <mat-chip-set class="m-1">
                        <mat-chip *ngFor="let s of pj.Sortilegas">
                            {{s}}
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="pj.Ventajas">
                    <mat-expansion-panel-header>
                        <button mat-stroked-button color="accent" class="rounded-0">
                            <h2 class="mb-0">Ventajas y desventajas obtenidas</h2>
                        </button>
                    </mat-expansion-panel-header>
                    <mat-chip-set class="m-1">
                        <mat-chip *ngFor="let v of pj.Ventajas">
                            {{v}}
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>