<div id="container-lista" class="container-fluid bg-dark h-100">
    <div class="row position-relative justify-content-center align-items-center">
        <button id="filtros" matTooltip="Filtros de subtipos" #filtros mat-icon-button
            [matMenuTriggerFor]="menuSubtipos" class="filtros bg-accent">
            <mat-icon>filter_alt</mat-icon>
        </button>
        <mat-menu id="containerMenu" #menuSubtipos="matMenu" class="me-1 menu-filtros-estandar">
            <div id="menu">
                <mat-form-field (click)="$event.stopPropagation();" (keyup)="filtroSubtipos();">
                    <mat-label>Incluye texto</mat-label>
                    <input #subtipoTextInc matInput placeholder="Texto a buscar">
                </mat-form-field>
                <mat-form-field (click)="$event.stopPropagation();">
                    <mat-label>Manual</mat-label>
                    <mat-select appearance="fill" [(value)]="defaultManual" (selectionChange)="filtroSubtipos();">
                        <mat-option [value]="'Cualquiera'">Cualquiera</mat-option>
                        <mat-option *ngFor="let m of manuales" [value]="m.Nombre">{{m.Nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-chip-option #subtiposHomebrew color="warn" class="mt-4 mb-1"
                (click)="$event.stopPropagation(); alternarSubtiposHomebrew(subtiposHomebrew.value);">
                {{anuncioSubtiposHomebrew}}
            </mat-chip-option>
        </mat-menu>

        <table id="subtipos" #tablaSubtipos mat-table [dataSource]="subtiposDS" matSort *ngIf="subtipos.length > 0; else cargando">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of subtipoColumns">
                <th class="lead" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por {{column}}">
                    {{column.replace('_', ' ')}}
                </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-stroked-button matTooltip="Clic para ver este subtipo" [matTooltipShowDelay]="200"
                        *ngIf="column === 'Nombre'" color="accent" class="d-flex justify-content-start sombra3d w-100"
                        (click)="verDetallesSubtipo(element.Id); $event.stopPropagation();">
                        <mat-icon>read_more</mat-icon>
                        {{element.Nombre}}
                    </button>
                    <button type="button" class="manual-clickable" *ngIf="column === 'Manual'"
                        (click)="abrirDetalleManual(element, $event)">
                        {{element.Manual?.Nombre}} <span *ngIf="(element.Manual?.Pagina ?? 0) > 0">(p. {{element.Manual?.Pagina}})</span>
                    </button>
                    <div class="d-flex justify-content-center align-items-center" *ngIf="column === 'Heredada'">
                        <mat-checkbox [checked]="!!element.Heredada" [disableRipple]="true"
                            (click)="$event.preventDefault(); $event.stopPropagation();"></mat-checkbox>
                    </div>
                    <div class="d-flex justify-content-center align-items-center" *ngIf="column === 'Homebrew'">
                        <mat-checkbox [checked]="!element.Oficial" [disableRipple]="true"
                            (click)="$event.preventDefault(); $event.stopPropagation();"></mat-checkbox>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="subtipoColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let element; columns: subtipoColumns;" class="element-row elegir"
                (click)="seleccionarSubtipo(element.Id)"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center text-white p-3" colspan="6">
                    Ningun subtipo encaja con los filtros
                </td>
            </tr>
        </table>
        <ng-template #cargando>
            <div class="superballs">
                <div class="superballs__dot"></div>
                <div class="superballs__dot"></div>
            </div>
        </ng-template>
    </div>
    <div class="row justify-content-center align-items-center">
        <mat-paginator [pageSizeOptions]="[10, 20, 30, 40]" showFirstLastButtons aria-label="Selecciona una pagina de subtipos">
        </mat-paginator>
    </div>
</div>
