<mat-card id="menu">
    <aside>
        <mat-accordion>
            <mat-expansion-panel #primero>
                <mat-expansion-panel-header class="rounded-0 rounded-top">
                    <button mat-stroked-button color="accent" class="rounded-0 rounded-top">
                        <mat-icon>group_add</mat-icon>Personajes
                    </button>
                </mat-expansion-panel-header>
                <button mat-raised-button color="primary" (click)="closeAcordion()">Nuevo personaje</button>
                <button mat-button color="primary" (click)="closeAcordion()">Nueva ficha</button>
                <button mat-button color="primary" disabled="" (click)="closeAcordion()">Modificar personaje</button>
                <button mat-button color="primary" (click)="closeAcordion()">Archivar personajes</button>
            </mat-expansion-panel>
            <mat-expansion-panel #segundo>
                <mat-expansion-panel-header>
                    <button mat-stroked-button color="accent" class="rounded-0">
                        <mat-icon>add_box</mat-icon>Insertar
                    </button>
                </mat-expansion-panel-header>
                <button mat-button color="primary" (click)="closeAcordion()">Raza</button>
                <button mat-button color="primary" (click)="closeAcordion()">Clase</button>
                <button mat-button color="primary" (click)="closeAcordion()">Dote</button>
                <button mat-button color="primary" (click)="closeAcordion()">Conjuro</button>
                <button mat-button color="primary" (click)="closeAcordion()">Monstruo</button>
                <button mat-button color="primary" (click)="closeAcordion()">Plantilla</button>
                <button mat-button color="primary" (click)="closeAcordion()">Otros</button>
            </mat-expansion-panel>
            <mat-expansion-panel #tercero>
                <mat-expansion-panel-header>
                    <button mat-stroked-button color="accent" class="rounded-0">
                        <mat-icon>edit_square</mat-icon>Modificar
                    </button>
                </mat-expansion-panel-header>
                <button mat-button color="primary" (click)="closeAcordion()">Raza</button>
                <button mat-button color="primary" (click)="closeAcordion()">Clase</button>
                <button mat-button color="primary" (click)="closeAcordion()">Dote</button>
                <button mat-button color="primary" (click)="closeAcordion()">Conjuro</button>
                <button mat-button color="primary" (click)="closeAcordion()">Monstruo</button>
                <button mat-button color="primary" (click)="closeAcordion()">Plantilla</button>
                <button mat-button color="primary" (click)="closeAcordion()">Otros</button>
            </mat-expansion-panel>
            <mat-expansion-panel class="rounded-0 rounded-bottom" #cuarto>
                <mat-expansion-panel-header>
                    <button mat-stroked-button color="accent" class="rounded-0 rounded-bottom">
                        <mat-icon>search</mat-icon>Detalles
                    </button>
                </mat-expansion-panel-header>
                <button mat-button color="primary" (click)="closeAcordion()">Raza</button>
                <button mat-button color="primary" (click)="closeAcordion()">Clase</button>
                <button mat-button color="primary" (click)="closeAcordion()">Dote</button>
                <button mat-button color="primary" (click)="closeAcordion()">Conjuro</button>
                <button mat-button color="primary" (click)="closeAcordion()">Monstruo</button>
                <button mat-button color="primary" (click)="closeAcordion()">Plantilla</button>
                <button mat-button color="primary" (click)="closeAcordion()">Otros</button>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle="true" #quinto>
                <mat-expansion-panel-header>
                    <button mat-stroked-button color="accent">
                        <mat-icon>account_circle</mat-icon>Invitado
                        <!-- TODO {{Usuario.nombre}} Llamar a la propiedad del componente usuario -->
                    </button>
                </mat-expansion-panel-header>
                <button mat-raised-button color="accent" (click)="openSesionDialog()">
                    Identifícate
                    <!-- TODO {{Interpolar esto}} Llamar a la propiedad del componente usuario -->
                </button>
            </mat-expansion-panel>
        </mat-accordion>
    </aside>
</mat-card>
<mat-card id="base">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Personajes">
            <app-lista-personajes></app-lista-personajes>
        </mat-tab>
        <mat-tab label="Algo"></mat-tab>
        <mat-tab label="Pruebas">
            <app-empleado></app-empleado>
        </mat-tab>
    </mat-tab-group>
</mat-card>