<div class="tw-w-full tw-px-3 detalle-view" *ngIf="idioma">
    <div class="tw-flex tw-flex-wrap">
        <div class="detalle-col tw-w-full md:tw-w-1/3 tw-p-2">
            <div class="tw-flex tw-flex-wrap tw-items-center sombra-caja-sm tw-rounded-md tw-p-2 tw-my-2">
                <mat-chip class="tw-h-auto warm tw-w-full sombra-caja-sm tw-py-2 tw-m-1 chip-titulo">
                    {{idioma.Nombre}}
                </mat-chip>
                <mat-chip class="tw-h-auto sombra3d-sm tw-m-1" *ngIf="idioma.Secreto">
                    Secreto
                </mat-chip>
                <mat-chip class="warm sombra3d-sm tw-m-1" *ngIf="!idioma.Oficial" matTooltip="Este idioma es homebrew" matTooltipClass="tt-accent">
                    No es oficial
                </mat-chip>
            </div>
        </div>

        <div class="detalle-col tw-w-full md:tw-w-1/3 tw-p-2">
            <div class="tw-flex tw-flex-wrap tw-items-center sombra-caja-sm tw-rounded-md tw-p-2 tw-my-2"
                *ngIf="tieneTextoVisible(idioma.Descripcion)">
                <mat-chip class="tw-h-auto tw-w-full sombra-caja-sm tw-py-2 tw-m-1 tw-mb-2 chip-titulo">
                    Descripción
                    <mat-icon class="tw-ms-2">short_text</mat-icon>
                </mat-chip>
                <p class="tw-m-1">{{idioma.Descripcion}}</p>
            </div>
        </div>

        <div class="detalle-col tw-w-full md:tw-w-1/3 tw-p-2">
        </div>
    </div>
</div>
