<div id="container-personajes" class="container-fluid bg-dark">
    <div class="row position-relative justify-content-center align-items-center">
        <button id="filtrosLP" matTooltip="Filtros de personajes" #filtros mat-icon-button [matMenuTriggerFor]="menu"
            class="filtros bg-accent">
            <mat-icon>filter_alt</mat-icon>
        </button>
        <mat-menu id="containerMenu" #menu="matMenu" class="me-1">
            <div id="menu">
                <mat-form-field (click)="$event.stopPropagation();" (keyup)="filtroPersonajes();">
                    <mat-label>Incluye texto</mat-label>
                    <input #textInc matInput placeholder="Texto a buscar">
                </mat-form-field>
                <mat-form-field (click)="$event.stopPropagation();">
                    <mat-label>Filtrar por campaña</mat-label>
                    <!-- <mat-select appearance="fill" [(value)]="personajeCampania">
                        <mat-option *ngFor="let c of campanias" [value]="c.id">{{c.nombre + " [" + c.id + "]"}}</mat-option>
                    </mat-select> -->
                    <mat-select #campanas appearance="fill" [(value)]="defaultCampana"
                        (selectionChange)="actualizarTramas(campanas.value);">
                        <mat-option *ngFor="let c of Campanas" [value]="c.Nombre">{{c.Nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field (click)="$event.stopPropagation();">
                    <mat-label>Filtrar por trama</mat-label>
                    <mat-select #tramas appearance="fill" [(value)]="defaultTrama"
                        (selectionChange)="actualizarSubtramas(tramas.value);">
                        <mat-option *ngFor="let t of Tramas" [value]="t.Nombre">{{t.Nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field (click)="$event.stopPropagation();">
                    <mat-label>Filtrar por subtrama</mat-label>
                    <mat-select #subtramas appearance="fill" [(ngModel)]="defaultSubtrama"
                        (selectionChange)="filtroPersonajes();">
                        <mat-option *ngFor="let s of Subtramas" [value]="s.Nombre">{{s.Nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-chip-option #archivo color="warn" class="mt-4 mb-1"
                (click)="$event.stopPropagation(); AlternarArchivados(archivo.value);">{{anuncioArchivo}}</mat-chip-option>
        </mat-menu>

        <table id="personajes" #tablaPjs mat-table [dataSource]="personajesDS" multiTemplateDataRows matSort
            (matSortChange)="announceSortChange($event);" *ngIf="Personajes.length > 0; else cargando">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <th class="lead" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por {{column}}">
                    <ng-container>
                        <mat-icon *ngIf="column == 'Nombre'">portrait</mat-icon>
                        <mat-icon *ngIf="column == 'Clases'">style</mat-icon>
                        <mat-icon *ngIf="column == 'Raza'">settings_accessibility</mat-icon>
                        <mat-icon *ngIf="column == '¿Archivado?'">archive</mat-icon>
                        &nbsp;{{column}}
                    </ng-container>
                </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container [ngSwitch]="column">
                        <ng-container *ngSwitchCase="'Clases'">
                            <ng-container *ngIf="extraerClases(element[column]) as clases">
                                <button mat-stroked-button matTooltip="Click para ver la clase"
                                    [matTooltipShowDelay]="300" color="accent" class="d-flex justify-content-start sombra3d-sm w-100"
                                    *ngIf="clases.length === 1" (click)="CrearDetallesClase(clases[0].Nombre); $event.stopPropagation();">
                                    <mat-icon>read_more</mat-icon>
                                    {{clases[0].Nombre}}<span *ngIf="clases[0].Nivel !== null">&nbsp;({{clases[0].Nivel}})</span>
                                </button>
                                <button mat-stroked-button matTooltip="Click para elegir clase"
                                    [matTooltipShowDelay]="300" color="accent" class="d-flex justify-content-start sombra3d-sm w-100"
                                    *ngIf="clases.length > 1" [matMenuTriggerFor]="menuClases" #clasesTrigger="matMenuTrigger"
                                    [matMenuTriggerData]="{ clases: clases, trigger: clasesTrigger }"
                                    (click)="$event.stopPropagation();">
                                    <mat-icon>read_more</mat-icon>
                                    {{element[column]}}
                                </button>
                                <p class="mb-0" *ngIf="clases.length < 1">Sin clase</p>

                                <mat-menu #menuClases="matMenu" class="menuOscuro menu-clases-personaje" xPosition="after" yPosition="below">
                                    <ng-template matMenuContent let-clases="clases" let-trigger="trigger">
                                        <button mat-menu-item *ngFor="let c of clases" (click)="CrearDetallesClase(c.Nombre); trigger?.closeMenu()">
                                            {{c.Nombre}}<span *ngIf="c.Nivel !== null">&nbsp;({{c.Nivel}})</span>
                                        </button>
                                    </ng-template>
                                </mat-menu>
                            </ng-container>
                        </ng-container>

                        <ng-container  *ngSwitchCase="'Raza'">
                            <button mat-stroked-button matTooltip="Click para ver esta raza"
                                [matTooltipShowDelay]="300" color="accent" class="d-flex justify-content-start sombra3d-sm w-100"
                                (click)="CrearDetallesRaza(element[column].Id); $event.stopPropagation();">
                                <mat-icon>read_more</mat-icon>
                                {{element[column].Nombre}}
                            </button>
                        </ng-container>

                        <ng-container *ngSwitchCase="'¿Archivado?'">
                            <div class="d-flex justify-content-center align-items-center">
                                <mat-checkbox [checked]="element.Archivado" [disableRipple]="true"
                                    (click)="$event.preventDefault(); $event.stopPropagation();">
                                </mat-checkbox>
                            </div>
                        </ng-container>

                        <ng-container *ngSwitchCase="'Nombre'">
                            <button mat-stroked-button matTooltip="Click para ver este personaje"
                                [matTooltipShowDelay]="400" color="accent" class="d-flex justify-content-start sombra3d-sm w-100"
                                (click)="CrearDetallesDe(element.Id); $event.stopPropagation();">
                                <mat-icon>read_more</mat-icon>
                                {{element[column]}}
                            </button>
                        </ng-container>

                        <ng-container *ngSwitchDefault>
                            <p class="mb-0">{{element[column]}}</p>
                        </ng-container>
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button aria-label="expand row"
                        (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                    <div class="details" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="contenedorDetalles">
                            <div class="campana p-2">
                                <h4>Campaña:</h4>
                                <p class="text-center p-1 mx-4">{{element.Campana}}</p>
                                <p class="text-center p-1 mx-4">{{element.Trama}}</p>
                                <p class="text-center p-1 mx-4">{{element.Subtrama}}</p>
                            </div>
                            <div class="pt-2">
                                <h4>Personalidad:</h4>
                                <p class="h-100 p-2 m-1 me-3">{{element.Personalidad}}</p>
                            </div>
                            <div class="pt-2">
                                <h4>Contexto:</h4>
                                <p class="h-100 p-2 m-1">{{element.Contexto}}</p>
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand; sticky: true"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="element-row"
                [class.expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="details-row"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center text-white p-3" colspan="6">
                    Ningún personaje encaja con los filtros
                </td>
            </tr>
        </table>
        <ng-template #cargando>
            <div class="superballs">
                <div class="superballs__dot"></div>
                <div class="superballs__dot"></div>
            </div>
        </ng-template>
    </div>
    <div class="row justify-content-center align-items-center">
        <mat-paginator [pageSizeOptions]="[10, 20, 30, 40]" showFirstLastButtons
            aria-label="Selecciona una página de personajes">
        </mat-paginator>
    </div>
</div>
