<mat-tab-group #nuevoPersonajeTabControl mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="raza" (click)="$event.preventDefault(); $event.stopPropagation();">
        <ng-template mat-tab-label="">
            <mat-icon class="me-2">settings_accessibility</mat-icon>
            Elección de raza
        </ng-template>
        <app-listado-razas (razaDetalles)="verDetallesRaza($event)" (razaSeleccionada)="seleccionarRaza($event)"></app-listado-razas>
    </mat-tab>
    <mat-tab label="futuro">
        <ng-template mat-tab-label="">
            <mat-icon class="me-2">tips_and_updates</mat-icon>
            Futuras updates....
        </ng-template>
        <div class="d-flex justify-content-center align-items-center h-100 w-100">
            <h1 class="text-white">Proximamente.. </h1>
            <h2>Nombre del personaje; elección de alineamiento y deidad; Contexto y personalidad; altura, peso y edad;
                etc..</h2>
        </div>
    </mat-tab>
</mat-tab-group>