<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-12 p-2">
            <div class="d-flex flex-wrap align-items-center sombra-caja-sm rounded p-2 my-2">
                <mat-icon class="me-1">account_box</mat-icon>
                <mat-chip class="warm m-1">{{pj.Nombre}}</mat-chip>
                <mat-chip class="m-1">{{pj.Genero}}</mat-chip>
                <mat-chip class="m-1">{{pj.Alineamiento}}</mat-chip>
                <mat-chip class="m-1" [matTooltip]="nepDisclaimer" matTooltipClass="tt-accent tt-multiline">Nivel {{pj.NEP}}</mat-chip>
                <mat-chip class="m-1">Exp {{pj.Experiencia}}</mat-chip>
                <mat-chip class="warm m-1">Ataque base {{pj.Ataque_base}}</mat-chip>
                <mat-chip class="m-1">Pg {{pj.Vida}}</mat-chip>
                <mat-chip class="m-1" [matTooltip]="caDisclaimer"  matTooltipClass="tt-accent tt-multiline">Ca {{pj.Ca}}</mat-chip>
                <ng-template *ngIf="pj.Campana != 'Sin campaña'">
                    <mat-chip class="m-1">Campaña {{pj.Campana}}</mat-chip>
                    <mat-chip class="m-1">Trama {{pj.Trama}}</mat-chip>
                    <mat-chip class="m-1">Subtrama {{pj.Subtrama}}</mat-chip>
                </ng-template>
                <mat-chip class="m-1">Deidad {{pj.Deidad}}</mat-chip>
                <mat-chip class="h-auto m-1" *ngIf="pj.Rds && pj.Rds.length > 0"><p class="m-0 me-2">Reducción de daño</p>
                    <mat-chip class="m-1" *ngFor="let r of pj.Rds" [matTooltip]="getTooltip_simples('Origen:', r.Origen)" matTooltipClass="tt-accent" >{{r.Modificador}}</mat-chip>
                </mat-chip>
                <mat-chip class="h-auto m-1" *ngIf="pj.Rcs && pj.Rcs.length > 0"><p class="m-0 me-2">Resistencia a conjuros</p>
                    <mat-chip class="m-1" *ngFor="let r of pj.Rcs" [matTooltip]="getTooltip_simples('Origen:', r.Origen)" matTooltipClass="tt-accent" >{{r.Modificador}}</mat-chip>
                </mat-chip>
                <mat-chip class="h-auto m-1" *ngIf="pj.Res && pj.Res.length > 0"><p class="m-0 me-2">Resistencia a la energía</p>
                    <mat-chip class="m-1" *ngFor="let r of pj.Res" [matTooltip]="getTooltip_simples('Origen:', r.Origen)" matTooltipClass="tt-accent" >{{r.Modificador}}</mat-chip>
                </mat-chip>
                <mat-chip class="m-1" matTooltip="Monedas de oro" matTooltipClass="tt-accent">
                    Oro inicial &nbsp;{{pj.Oro_inicial}}
                    <mat-icon style="width: 20px; height: 20px; font-size: 20px;">currency_bitcoin</mat-icon>
                </mat-chip>
                <mat-chip class="warm m-1" *ngIf="pj.Oficial" matTooltip="Este personaje tiene elementos homebrew" matTooltipClass="tt-accent">No es oficial</mat-chip>
            </div>
            <div class="d-flex flex-wrap align-items-center sombra-caja-sm rounded p-2 my-2">
                <mat-icon class="me-1">settings_accessibility</mat-icon>
                <mat-chip class="h-auto warm m-1">{{pj.Raza.Nombre}}
                    <mat-chip class="ms-3 m-1">{{pj.Raza.Tamano.Nombre}}</mat-chip>
                    <mat-chip class="m-1">{{pj.Tipo_criatura.Nombre}}</mat-chip>
                    <mat-chip class="m-1" *ngIf="pj.Raza.Dgs_adicionales.Cantidad">+{{pj.Raza.Dgs_adicionales.Cantidad}}{{pj.Raza.Dgs_adicionales.Dado}} Dgs de {{pj.Raza.Dgs_adicionales.Tipo_criatura}}</mat-chip>
                    <mat-chip class="m-1" *ngIf="pj.Raza.Ajuste_nivel">Ajuste de nivel +{{pj.Raza.Ajuste_nivel}}</mat-chip>
                </mat-chip>
                <mat-chip class="m-1">Iniciativa {{iniciativa}}</mat-chip>
                <mat-chip class="m-1">Presa {{presa}}</mat-chip>
                <mat-chip class="m-1" [matTooltip]="velDisclaimer" matTooltipClass="tt-accent tt-multiline">Velocidad {{pj.Correr}}'</mat-chip>
                <mat-chip class="m-1" *ngIf="pj.Nadar > 0" [matTooltip]="velDisclaimer" matTooltipClass="tt-accent tt-multiline">Nadar {{pj.Nadar}}'</mat-chip>
                <mat-chip class="m-1" *ngIf="pj.Volar > 0" [matTooltip]="velDisclaimer" matTooltipClass="tt-accent tt-multiline">Volar {{pj.Volar}}'</mat-chip>
                <mat-chip class="m-1" *ngIf="pj.Trepar > 0" [matTooltip]="velDisclaimer" matTooltipClass="tt-accent tt-multiline">Trepar {{pj.Trepar}}'</mat-chip>
                <mat-chip class="m-1" *ngIf="pj.Escalar > 0" [matTooltip]="velDisclaimer" matTooltipClass="tt-accent tt-multiline">Escalar {{pj.Escalar}}'</mat-chip>
                <mat-chip class="h-auto m-1" matTooltip="Medida en libras" matTooltipClass="tt-accent">Capacidad de carga
                    <mat-chip class="ms-3 m-1" [matTooltip]="cLigera" matTooltipClass="tt-accent" matTooltipPosition="above">Ligera {{pj.Capacidad_carga.Ligera}}</mat-chip>
                    <mat-chip class="m-1" [matTooltip]="cMedia" matTooltipClass="tt-accent" matTooltipPosition="above">Media {{pj.Capacidad_carga.Media}}</mat-chip>
                    <mat-chip class="m-1" [matTooltip]="cPesada" matTooltipClass="tt-accent tt-multiline" matTooltipPosition="above">Pesada {{pj.Capacidad_carga.Pesada}}</mat-chip>
                </mat-chip>
                <mat-chip-set class="m-1" *ngFor="let p of pj.Plantillas">
                    <mat-chip [ngStyle]="{'height': p.Multiplicador_dgs_lic > 0 ? 'auto' : 'initial'}" class="warm m-1">{{p.Nombre}}
                        <mat-chip class="ms-3 m-1" *ngIf="p.Multiplicador_dgs_lic > 0">{{p.Multiplicador_dgs_lic}}{{p.Tipo_dgs_lic}}{{p.Suma_dgs_lic > 0 ? ' +' + p.Suma_dgs_lic : ''}} dgs adicionales</mat-chip>
                        <mat-chip *ngIf="p.Ajuste_nivel > 0" [ngClass]="p.Multiplicador_dgs_lic == 0 ? 'ms-3' : ''" class="m-1">Ajuste de nivel +{{p.Ajuste_nivel}}</mat-chip>
                        <mat-chip class="m-1">{{p.Heredada ? "Heredada" : "Adquirida"}}</mat-chip>
                    </mat-chip>
                </mat-chip-set>
            </div>
            <div class="d-flex flex-wrap align-items-center sombra-caja-sm rounded p-2 my-2">
                <mat-icon class="me-1">style</mat-icon>
                <mat-chip-set class="m-1" *ngIf="pj.desgloseClases;else sinClase">
                    <mat-chip class="warm" *ngFor="let c of pj.desgloseClases">
                        {{c.Nombre}} {{c.Nivel}}
                    </mat-chip>
                </mat-chip-set>
                <ng-template #sinClase>
                    <mat-chip class="m-1">No tiene clase</mat-chip>
                </ng-template>
                <mat-chip class="warm m-1" *ngIf="pj.Escuela_especialista.Nombre != 'Cualquiera'">{{pj.Escuela_especialista.Calificativo}}</mat-chip>
                <mat-chip class="h-auto m-1" *ngIf="pj.Escuelas_prohibidas && pj.Escuelas_prohibidas.length > 0"><p class="m-0 me-2">Escuelas prohibidas:</p>
                    <mat-chip class="m-1" *ngFor="let e of pj.Escuelas_prohibidas">{{e}}</mat-chip>
                </mat-chip>
                <mat-chip class="warm m-1" *ngIf="pj.Disciplina_especialista.Nombre != 'Ninguna'">{{pj.Disciplina_especialista.Calificativo}}</mat-chip>
                <mat-chip class="warm m-1" *ngIf="pj.Disciplina_prohibida != 'Ninguna'">{{pj.Disciplina_prohibida}}</mat-chip>
                <mat-chip class="h-auto m-1">Salvaciones
                    <mat-chip class="ms-3 m-1">Fortaleza: 
                        <p class="m-0 ms-1" [matTooltip]="fortaleza_origenes" matTooltipClass="tt-accent">{{fortaleza}}</p>
                        <p class="m-0 ms-1" [matTooltip]="fortaleza_varios_origenes" matTooltipClass="tt-accent" *ngIf="fortaleza_varios > 0"> + {{fortaleza_varios}}</p>
                    </mat-chip>
                    <mat-chip class="m-1">Reflejos:
                        <p class="m-0 ms-1" [matTooltip]="reflejos_origenes" matTooltipClass="tt-accent">{{reflejos}}</p>
                        <p class="m-0 ms-1" [matTooltip]="reflejos_varios_origenes" matTooltipClass="tt-accent" *ngIf="reflejos_varios > 0"> + {{reflejos_varios}}</p>
                    </mat-chip>
                    <mat-chip class="m-1">Voluntad:
                        <p class="m-0 ms-1" [matTooltip]="voluntad_origenes" matTooltipClass="tt-accent">{{voluntad}}</p>
                        <p class="m-0 ms-1" [matTooltip]="voluntad_varios_origenes" matTooltipClass="tt-accent" *ngIf="voluntad_varios > 0"> + {{voluntad_varios}}</p>
                    </mat-chip>
                </mat-chip>
            </div>
        </div>
        <div class="col-md-4 col-12 p-2">
            <div id="caracteristicas" class="sombra-caja-sm rounded p-2 my-2">
                <mat-chip class="warm sombra-caja-sm">Características</mat-chip>
                Fuerza
                <mat-chip [ngClass]="pj.Fuerza > 18 ? 'warm' : ''" class="m-1">{{pj.Fuerza}}</mat-chip>
                <mat-chip [ngClass]="pj.Fuerza > 18 ? 'warm' : ''" class="m-1">{{pj.ModFuerza > 0 ? '+' : ''}}{{pj.ModFuerza}}</mat-chip>
                Destreza
                <mat-chip [ngClass]="pj.Destreza > 18 ? 'warm' : ''" class="m-1">{{pj.Destreza}}</mat-chip>
                <mat-chip [ngClass]="pj.Destreza > 18 ? 'warm' : ''" class="m-1">{{pj.ModDestreza > 0 ? '+' : ''}}{{pj.ModDestreza}}</mat-chip>
                Constitución
                <mat-chip [ngClass]="pj.Constitucion > 18 ? 'warm' : ''" class="m-1">{{pj.Constitucion}}</mat-chip>
                <mat-chip [ngClass]="pj.Constitucion > 18 ? 'warm' : ''" class="m-1">{{pj.ModConstitucion > 0 ? '+' : ''}}{{pj.ModConstitucion}}</mat-chip>
                Inteligencia
                <mat-chip [ngClass]="pj.Inteligencia > 18 ? 'warm' : ''" class="m-1">{{pj.Inteligencia}}</mat-chip>
                <mat-chip [ngClass]="pj.Inteligencia > 18 ? 'warm' : ''" class="m-1">{{pj.ModInteligencia > 0 ? '+' : ''}}{{pj.ModInteligencia}}</mat-chip>
                Sabiduría
                <mat-chip [ngClass]="pj.Sabiduria > 18 ? 'warm' : ''" class="m-1">{{pj.Sabiduria}}</mat-chip>
                <mat-chip [ngClass]="pj.Sabiduria > 18 ? 'warm' : ''" class="m-1">{{pj.ModSabiduria > 0 ? '+' : ''}}{{pj.ModSabiduria}}</mat-chip>
                Carisma
                <mat-chip [ngClass]="pj.Carisma > 18 ? 'warm' : ''" class="m-1">{{pj.Carisma}}</mat-chip>
                <mat-chip [ngClass]="pj.Carisma > 18 ? 'warm' : ''" class="m-1">{{pj.ModCarisma > 0 ? '+' : ''}}{{pj.ModCarisma}}</mat-chip>
            </div>
            <div class="sombra-caja-sm rounded p-2 my-2">
                <mat-chip class="w-100 sombra-caja-sm mb-2">Personalidad</mat-chip>
                <p>{{pj.Personalidad}}</p>
            </div>
            <div class="sombra-caja-sm rounded p-2 my-2">
                <mat-chip class="w-100 sombra-caja-sm mb-2">Contexto</mat-chip>
                <p>{{pj.Contexto}}</p>
            </div>
        </div>
        <div class="col-md-4 col-12 p-2">
            <button mat-stroked-button color="accent" class="w-100 sombra-caja-sm rounded my-2" (click)="generarFicha();">
                Generar pdf
            </button>
            <mat-accordion>
                <mat-expansion-panel *ngIf="pj.Claseas">
                    <mat-expansion-panel-header>
                        <button mat-stroked-button color="accent" class="rounded-0 rounded-top">
                            <h2 class="mb-0">Habilidades cláseas</h2>
                        </button>
                    </mat-expansion-panel-header>
                    <mat-chip-set class="m-1">
                        <mat-chip *ngFor="let c of pj.Claseas">
                            {{c.Nombre}}{{c.Extra != 'Nada' ? ' ' + c.Extra : ''}}
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="pj.Raciales">
                    <mat-expansion-panel-header>
                        <button mat-stroked-button color="accent" class="rounded-0">
                            <h2 class="mb-0">Habilidades raciales</h2>
                        </button>
                    </mat-expansion-panel-header>
                    <mat-chip-set class="m-1">
                        <mat-chip *ngFor="let r of pj.Raciales">
                            {{r}}
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="pj.Dotes">
                    <mat-expansion-panel-header>
                        <button mat-stroked-button color="accent" class="rounded-0">
                            <h2 class="mb-0">Dotes obtenidas</h2>
                        </button>
                    </mat-expansion-panel-header>
                    <mat-chip-set class="m-1">
                        <mat-chip *ngFor="let d of pj.Dotes" [matTooltip]="getTooltip_Dotes(d)" matTooltipClass="tt-accent tt-multiline" [ngClass]="d.Extra != 'No aplica' ? 'h-auto' : ''">
                            {{d.Nombre}}
                            <mat-chip class="m-1" *ngIf="d.Extra != 'No aplica'">{{d.Extra}}</mat-chip>
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="pj.Habilidades">
                    <mat-expansion-panel-header>
                        <button mat-stroked-button color="accent" class="rounded-0">
                            <h2 class="mb-0">Habilidades</h2>
                        </button>
                    </mat-expansion-panel-header>
                    <mat-chip-set class="m-1">
                        <mat-chip *ngFor="let h of Habilidades" [ngClass]="h.Extra != '' ? 'h-auto' : ''">
                            {{h.Nombre}}
                            <mat-chip class="m-1" *ngIf="h.Extra != ''">{{h.Extra}}</mat-chip>
                            +{{h.Rangos + h.Rangos_varios + h.Mod_car}} {{h.Varios != '' ? ' [' + h.Varios + ']' : ''}}
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="pj.Idiomas">
                    <mat-expansion-panel-header>
                        <button mat-stroked-button color="accent" class="rounded-0">
                            <h2 class="mb-0">Idiomas conocidos</h2>
                        </button>
                    </mat-expansion-panel-header>
                    <mat-chip-set class="m-1">
                        <mat-chip *ngFor="let i of pj.Idiomas" matTooltip="{{i.Descripcion}}">
                            {{i.Nombre}}
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="pj.Dominios">
                    <mat-expansion-panel-header>
                        <button mat-stroked-button color="accent" class="rounded-0">
                            <h2 class="mb-0">Dominios</h2>
                        </button>
                    </mat-expansion-panel-header>
                    <mat-chip-set class="m-1">
                        <mat-chip *ngFor="let d of pj.Dominios">
                            {{d}}
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="pj.Conjuros">
                    <mat-expansion-panel-header>
                        <button mat-stroked-button color="accent" class="rounded-0">
                            <h2 class="mb-0">Conjuros conocidos</h2>
                        </button>
                    </mat-expansion-panel-header>
                    <mat-chip-set class="m-1">
                        <mat-chip *ngFor="let c of pj.Conjuros" [matTooltip]="getTooltip_Conjuros(c)" matTooltipClass="tt-accent tt-multiline" [matTooltipShowDelay]="250">
                            {{c.Nombre}}
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="pj.Sortilegas">
                    <mat-expansion-panel-header>
                        <button mat-stroked-button color="accent" class="rounded-0">
                            <h2 class="mb-0">Habilidades sortílegas</h2>
                        </button>
                    </mat-expansion-panel-header>
                    <mat-chip-set class="m-1">
                        <mat-chip *ngFor="let s of pj.Sortilegas" [matTooltip]="getTooltip_Sortilegas(s)" matTooltipClass="tt-accent tt-multiline" [matTooltipShowDelay]="250">
                            {{s.Conjuro.Nombre}}
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="pj.Ventajas">
                    <mat-expansion-panel-header>
                        <button mat-stroked-button color="accent" class="rounded-0">
                            <h2 class="mb-0">Ventajas y desventajas obtenidas</h2>
                        </button>
                    </mat-expansion-panel-header>
                    <mat-chip-set class="m-1">
                        <mat-chip *ngFor="let v of pj.Ventajas">
                            {{v}}
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>