<div class="container-fluid" *ngIf="tipo">
    <div class="row">
        <div class="col-md-4 col-12 p-2">
            <div class="d-flex flex-wrap align-items-center sombra-caja-sm rounded p-2 my-2">
                <mat-chip class="h-auto warm w-100 sombra-caja-sm py-2 m-1">
                    {{tipo.Nombre}}
                </mat-chip>
                <mat-chip class="sombra3d-sm m-1"><mat-icon class="me-2">auto_stories</mat-icon>{{tipo.Manual}}</mat-chip>
                <mat-chip class="h-auto warm sombra3d-sm m-1">Dados de golpe: <mat-chip class="sombra3d-sm m-1">{{tipo.Tipo_dado}}</mat-chip></mat-chip>
                <mat-chip class="warm sombra3d-sm m-1">Progresión de ataque base {{tipo.Id_ataque === 1 ? 'alta (+20)' : tipo.Id_ataque === 2 ? 'media (+15)' : 'baja (+10)'}}</mat-chip>
                <mat-chip class="sombra3d-sm m-1">Progresión de fortaleza {{tipo.Id_fortaleza === 1 ? 'alta (+12)' : 'baja (+6)'}}</mat-chip>
                <mat-chip class="sombra3d-sm m-1">Progresión de reflejos {{tipo.Id_reflejos === 1 ? 'alta (+12)' : 'baja (+6)'}}</mat-chip>
                <mat-chip class="sombra3d-sm m-1">Progresión de voluntad {{tipo.Id_voluntad === 1 ? 'alta (+12)' : 'baja (+6)'}}</mat-chip>
                <mat-chip class="sombra3d-sm m-1">Modificador de puntos de habilidad: {{tipo.Id_puntos_habilidad * 2}}</mat-chip>
                <mat-chip class="warm sombra3d-sm m-1" *ngIf="!tipo.Oficial" matTooltip="Este tipo de criatura es homebrew" matTooltipClass="tt-accent">No es oficial</mat-chip>
            </div>
            <div class="d-flex flex-wrap align-items-center sombra-caja-sm rounded p-2 my-2">
                <mat-chip class="h-auto w-100 sombra-caja-sm py-2 m-1 mb-2">Detalles<mat-icon class="ms-2">format_list_numbered</mat-icon></mat-chip>
                <mat-chip class="sombra3d-sm m-1">{{tipo.Come ? 'N' : 'No n'}}ecesitan comer</mat-chip>
                <mat-chip class="sombra3d-sm m-1">{{tipo.Respira ? 'N' : 'No n'}}ecesitan respirar</mat-chip>
                <mat-chip class="sombra3d-sm m-1">{{tipo.Duerme ? 'N' : 'No n'}}ecesitan dormir</mat-chip>
                <mat-chip class="sombra3d-sm m-1">{{tipo.Recibe_criticos ? 'P' : 'No p'}}uede recibir críticos</mat-chip>
                <mat-chip class="sombra3d-sm m-1">{{tipo.Puede_ser_flanqueado ? 'P' : 'No p'}}uede ser flanqueado</mat-chip>
                <mat-chip class="sombra3d-sm m-1" *ngIf="tipo.Pierde_constitucion">Pierde la característica de constitución</mat-chip>
            </div>
        </div>
        <div class="col-md-4 col-12 p-2">
            <div class="d-flex flex-wrap align-items-center sombra-caja-sm rounded p-2 my-2">
                <mat-chip class="w-100 sombra-caja-sm m-1 mb-2">Descripción<mat-icon class="ms-2">short_text</mat-icon></mat-chip>
                <p class="m-1">{{tipo.Descripcion}}</p>
            </div>
        </div>
        <div class="col-md-4 col-12 p-2">
            <div class="d-flex flex-wrap align-items-center sombra-caja-sm rounded p-2 my-2" *ngIf="tipo.Rasgos">
                <mat-chip class="w-100 sombra-caja-sm m-1 mb-2">Rasgos<mat-icon class="ms-2">auto_awesome_motion</mat-icon></mat-chip>
                <mat-chip *ngFor="let r of tipo.Rasgos" matTooltip="Pulsa para ver los detalles" [matTooltipShowDelay]="250" (click)="verDetallesRasgo(r);" class="sombra3d-sm m-1" matTooltipClass="tt-accent">
                    {{r.Nombre}}
                </mat-chip>
            </div>
        </div>
    </div>
</div>