<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-12">
            <h1 mat-dialog-title class="text-center border-3 border-bottom border-white">Identifícate</h1>
            <div mat-dialog-content>
                <form [formGroup]="loginForm" #lForm="ngForm" (ngSubmit)="login(lForm.value)">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Correo electrónico</mat-label>
                        <input matInput #email type="email" formControlName="email"
                            placeholder="Introduce aquí tu correo" cdkFocusInitial>
                        <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">
                            Necesitas un correo electrónico para confirmar tu cuenta.
                        </mat-error>
                        <mat-error *ngIf="loginForm.get('email')?.errors?.['pattern']">
                            Correo electrónico no válido.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Contraseña</mat-label>
                        <input matInput #password type="password" formControlName="password"
                            placeholder="Introduce aquí tu contraseña">
                        <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">
                            Debes introducir tu contraseña logearte
                        </mat-error>
                        <mat-error *ngIf="loginForm.get('password')?.errors?.['minlength']">
                            Faltan caracteres
                        </mat-error>
                    </mat-form-field>
                    <div mat-dialog-actions class="d-flex justify-content-end">
                        <button mat-raised-button class="w-100" color="accent" type="submit" [mat-dialog-close]="true"
                            [disabled]="loginForm.invalid">
                            <mat-icon>login</mat-icon>
                            Login
                        </button>
                    </div>
                </form>
            </div>
            <h1 mat-dialog-title class="text-center border-3 border-bottom border-white">Identifícate con</h1>
            <div mat-dialog-content>
                <svg width="54" height="55" viewBox="0 0 256 262" xmlns="http://www.w3.org/2000/svg" (click)="loginGoogle()"
                    class="btn btn-outline-dark" preserveAspectRatio="xMidYMid">
                    <path
                        d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"
                        fill="#4285F4" />
                    <path
                        d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"
                        fill="#34A853" />
                    <path
                        d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"
                        fill="#FBBC05" />
                    <path
                        d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"
                        fill="#EB4335" />
                </svg>
                <svg width="55" height="55" enable-background="new 0 0 2499.6 2500" viewBox="0 0 2499.6 2500" class="btn btn-outline-dark ms-2"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="m1187.9 1187.9h-1187.9v-1187.9h1187.9z" fill="#f1511b" />
                    <path d="m2499.6 1187.9h-1188v-1187.9h1187.9v1187.9z" fill="#80cc28" />
                    <path d="m1187.9 2500h-1187.9v-1187.9h1187.9z" fill="#00adef" />
                    <path d="m2499.6 2500h-1188v-1187.9h1187.9v1187.9z" fill="#fbbc09" />
                </svg>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <h1 mat-dialog-title class="text-center border-3 border-bottom border-white">Regístrate</h1>
            <div mat-dialog-content>
                <form [formGroup]="registerForm" #rform="ngForm" (ngSubmit)="register(rform.value)">
                    <mat-form-field class="w-100">
                        <mat-label>Nombre de usuario</mat-label>
                        <input matInput type="text" placeholder="Nombre de usuario" formControlName="usuario" required>
                        <mat-error *ngIf="registerForm.get('password')?.errors?.['required']">
                            Necesitas un nombre de usuario.
                        </mat-error>
                        <mat-error *ngIf="registerForm.get('password')?.errors?.['minlength']">
                            Usuario demasiado corto.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Correo electrónico</mat-label>
                        <input matInput type="email" placeholder="Email de confirmación" formControlName="email"
                            required>
                        <mat-error *ngIf="registerForm.get('email')?.errors?.['email']">
                            Necesitas un correo electrónico para confirmar tu cuenta.
                        </mat-error>
                        <mat-error *ngIf="registerForm.get('email')?.errors?.['pattern']">
                            Correo electrónico no válido.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password" placeholder="Crea una contraseña" formControlName="password"
                            required>
                        <mat-error *ngIf="registerForm.get('password')?.errors?.['required']">
                            Debes crear una contraseña para la cuenta
                        </mat-error>
                        <mat-error *ngIf="registerForm.get('password')?.errors?.['minlength']">
                            Contraseña demasiado corta
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Confirma tu contraseña</mat-label>
                        <input matInput type="password" placeholder="Confirma la contraseña"
                            formControlName="confirmPassword" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="registerForm.hasError('notSame')">
                            Las contraseñas no coinciden
                        </mat-error>
                    </mat-form-field>
                    <div mat-dialog-actions class="d-flex justify-content-end w-100">
                        <button mat-raised-button class="w-100" color="accent" type="submit" [mat-dialog-close]="true"
                            [disabled]="registerForm.invalid">
                            <mat-icon>app_registration</mat-icon>
                            Regístrate
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>