<div class="container fluid">
    <div class="row">
        <div class="col-6">
            <mat-card class="m-2 p-3">
                <mat-accordion>
                    <mat-expansion-panel #primero>
                        <mat-expansion-panel-header class="rounded-0 rounded-top">
                            <button mat-stroked-button color="accent" class="rounded-0 rounded-top"
                                matTooltip="Solo debe ser usado para inicializar datos en firebase">
                                <mat-icon>sync_alt</mat-icon>Sincronizar datos entre SQL server y firebase
                            </button>
                        </mat-expansion-panel-header>
                        <button mat-raised-button color="primary" (click)="sincronizarListaPJs();">Lista de
                            personajes
                        </button>
                        <button mat-raised-button color="primary" (click)="sincronizarCampanas();">
                            Campañas, tramas y subtramas
                        </button>
                        <button mat-raised-button color="primary" (click)="sincronizarPJs();">
                            Personajes
                        </button>
                        <button mat-raised-button color="primary" (click)="sincronizarRazas();">
                            Razas
                        </button>
                        <button mat-raised-button color="primary" (click)="sincronizarManuales();">
                            Manuales
                        </button>
                        <button mat-raised-button color="primary" (click)="sincronizarTiposCriatura();">
                            Tipos de criatura
                        </button>
                        <button mat-raised-button color="primary" (click)="sincronizarRasgos();">
                            Rasgos
                        </button>
                        <button mat-raised-button color="primary" (click)="sincronizarConjuros();">
                            Conjuros
                        </button>
                        <button mat-raised-button color="primary" (click)="sincronizarDotes();">
                            Dotes
                        </button>
                        <button mat-raised-button color="primary" (click)="sincronizarClases();">
                            Clases
                        </button>
                        <button mat-raised-button color="primary" (click)="sincronizarEscuelas();">
                            Escuelas de conjuros
                        </button>
                        <button mat-raised-button color="primary" (click)="sincronizarDisciplinas();">
                            Disciplinas de conjuros
                        </button>
                        <button mat-raised-button color="primary" (click)="sincronizarAlineamientos();">
                            Alineamientos
                        </button>
                        <button mat-raised-button color="primary" (click)="sincronizarPlantillas();">
                            Plantillas
                        </button>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card class="m-2 p-3">
                <button mat-raised-button color="{{serverStatusIcon === 'thumb_up' ? 'accent' : 'warn'}}"
                    (click)="verificar()">
                    {{serverStatus}}
                    <mat-icon class="me-5">{{serverStatusIcon}}</mat-icon>
                </button>
            </mat-card>
        </div>
    </div>
</div>
