/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css'
@import 'assets/css/variables'

body
    height: 100vh
    max-height: 100vh

    overflow: auto

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap'

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap'

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap'
