@use '../../../../assets/css/preformas/_detalles' as *

.prerrequisito-subtitulo
    font-size: .8rem
    opacity: .85
    font-weight: 500

.prerrequisito-condicion
    background-color: rgba(255, 255, 255, .03)

.prerrequisito-condicion p
    color: #ddd

.chip-familia
    background: rgba(255, 255, 255, .12)
    font-weight: 700


